/*----------- partials imports -----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  list-style: none; }

.home {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("./img/weave.jpg") center top;
  background-size: cover; }
  .home h2 {
    text-transform: capitalize; }
  .home__name {
    font-size: 2.8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    line-height: 3.75rem;
    border-bottom: 2px solid #ffffff; }
    .home__name--last {
      font-weight: 700;
      color: #e97442; }

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.42s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .menu-btn {
      visibility: hidden; } }
  .menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #ffffff;
    transition: all 0.42s ease-in-out; }
    .menu-btn__burger::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #ffffff;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: #ffffff;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger.open {
      transform: rotate(720deg);
      background: transparent; }
      .menu-btn__burger.open::before {
        transform: rotate(45deg) translate(5px, 8px); }
      .menu-btn__burger.open::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .nav {
      visibility: visible; } }
  .nav.open {
    visibility: visible; }
  .nav .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #272727;
    list-style-type: none;
    padding: 1.2rem 0;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.42s ease-in-out; }
    @media only screen and (min-width: 768px) {
      .nav .menu-nav {
        display: block;
        transform: translateY(0);
        height: 100%;
        background: rgba(21, 15, 23, 0.84);
        text-align: center; } }
    .nav .menu-nav.open {
      transform: translateY(0); }
    .nav .menu-nav__item {
      transform: translateX(100vw);
      transition: all 0.42s ease-in-out; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__item {
          display: inline;
          padding-right: 1.5rem; } }
      .nav .menu-nav__item.open {
        transform: translate(0); }
      .nav .menu-nav__item.active > a {
        color: #e97442; }
    .nav .menu-nav__link {
      display: inline-block;
      font-size: 1.45rem;
      text-transform: uppercase;
      padding: 1.4rem 0;
      font-weight: 300;
      color: white;
      transition: all 0.42s ease-in-out; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__link {
          font-size: 1.45rem;
          letter-spacing: 0.09rem; } }
      .nav .menu-nav__link:hover {
        cursor: pointer;
        color: #e97442; }

.menu-nav__item:nth-child(1) {
  transition-delay: 0.21s; }

.menu-nav__item:nth-child(2) {
  transition-delay: 0.3s; }

.menu-nav__item:nth-child(3) {
  transition-delay: 0.39s; }

.menu-nav__item:nth-child(4) {
  transition-delay: 0.48s; }

.about {
  padding-bottom: 2rem; }
  .about__bio-image {
    width: 100%;
    padding-top: 15vh;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.png") center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .about__bio-image p {
      margin-bottom: 2rem;
      line-height: 1.45rem;
      padding-top: 0.5rem; }
      @media only screen and (min-width: 768px) {
        .about__bio-image p {
          line-height: 1.56rem;
          letter-spacing: 0.031rem; } }
  .about__bio {
    width: 80%;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .about__bio {
        font-size: 1.5rem; } }
  .about .jobs {
    display: flex;
    width: 70vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    .about .jobs__bio-image {
      height: 30vh;
      width: 100%;
      padding-top: 48vh;
      background: linear-gradient(to right, rgba(39, 39, 39, 0.42), rgba(39, 39, 39, 0)), url("../img/profile.jpg") center center;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; }
      @media only screen and (min-width: 768px) {
        .about .jobs__bio-image {
          height: 20vh;
          background: linear-gradient(to right, rgba(39, 39, 39, 0), rgba(39, 39, 39, 0)), url("../img/profile.jpg") center center;
          background-size: contain;
          background-repeat: no-repeat;
          padding-top: 0;
          background-position: left; } }
      .about .jobs__bio-image .text-secondary {
        width: 100%;
        color: #f0ebea;
        font-size: 0.81rem;
        padding: 0.4rem;
        background: #74306b;
        background: orange; }
    .about .jobs__job {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: ligthen(#272727, 10%);
      padding: 0.4rem;
      border-bottom: 7px solid #e97442; }
      .about .jobs__job h2,
      .about .jobs__job h3 {
        margin: 0.4rem 0;
        line-height: 1.35rem; }
      .about .jobs__job h5 {
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        color: #ffedbc;
        font-weight: normal;
        font-style: italic;
        padding: 0.2rem 0;
        padding-top: 0.045rem; }
      .about .jobs__job h6 {
        margin: 0.3rem 0; }
  .about .social-icons {
    display: flex;
    flex-direction: column; }
  .about footer {
    transform: rotate(90deg) translate(-3rem, -5rem); }

.projects {
  padding-bottom: 2rem; }
  .projects__bio-image {
    height: 30vh;
    width: 100%;
    padding-top: 48vh;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("./img/hacking.jpg") center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    @media only screen and (min-width: 768px) {
      .projects__bio-image {
        height: 40vh; } }
    .projects__bio-image .text-secondary {
      font-size: 2rem;
      margin-bottom: 0.2rem; }
  .projects__items {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    @media only screen and (min-width: 768px) {
      .projects__items {
        grid-template-columns: repeat(2, 1fr); } }
  .projects__item {
    max-height: 60vh;
    width: 100%;
    position: relative;
    border-bottom: 5px solid #e97442;
    overflow: hidden;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .projects__item {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .projects__item img {
      width: 100%; }
    .projects__item::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: #e97442;
      opacity: 0;
      transition: all 0.42s ease-in-out; }
    .projects__item:hover::after {
      top: 0;
      opacity: 0.77; }
    .projects__item:hover .projects__btn {
      opacity: 1; }
  .projects__btns {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center; }
  .projects__btn {
    opacity: 0;
    color: #000;
    transition: all 0.42s ease-in-out; }
    .projects__btn:hover {
      color: #ffffff;
      font-size: 1.3rem; }
  .projects .social-icons {
    display: flex;
    flex-direction: column; }
  .projects footer {
    transform: rotate(90deg) translate(-3rem, -5rem); }

.contact {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("./img/foggy.jpg") center top;
  background-size: cover; }
  .contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 768px) {
      .contact h2 {
        margin-bottom: 3.2rem; } }
  .contact__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.35rem; }
    @media only screen and (min-width: 768px) {
      .contact__list {
        grid-template-columns: repeat(2, 1fr); } }
  .contact .social-icons {
    position: initial;
    margin-top: 2rem; }

/*-----X------ partials imports ------X-----*/
/*----------- @Mixins -----------*/
/*----------- Light & Dark Theme -----------*/
/*----------- @Mixins -----------*/
body {
  background: #171717;
  color: #ffffff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1; }

h1,
h2,
h3 {
  font-weight: 400; }

a {
  color: #ffffff;
  text-decoration: none; }

.text-secondary {
  color: #e97442;
  font-size: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .text-secondary {
      line-height: 2.3rem;
      font-size: 1.3rem; } }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem; }

main {
  height: 100%;
  width: 100%; }
  main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem; }
    main .social-icons a {
      transition: all 0.42s ease-in-out;
      padding: 0.4rem; }
      main .social-icons a:hover {
        color: #e97442;
        cursor: pointer; }

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.54rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #ffffff; }
