/*--------------Google fonts impors--------------*/
/*----------- partials imports -----------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  list-style: none; }

.showIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 2rem;
  font-size: 0.7rem;
  right: 0.41rem;
  padding: 0.09rem;
  background: #323d46; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#fffffa)), url(../img/head.jpg) center center;
  background: linear-gradient(to right, white, #fffffa), url(../img/head.jpg) center center;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .home {
      padding-top: 0; } }
  .home svg {
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .home svg {
        padding-top: 6em;
        height: 100%; } }
    @media only screen and (min-width: 1024px) {
      .home svg {
        width: 100%;
        height: 107%;
        padding-top: 0; } }
  .home .my_name {
    font-family: "Poiret One", cursive;
    font-family: "Audiowide", cursive;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Cormorant Unicase", serif;
    text-shadow: none;
    font-size: 2.15rem;
    line-height: 0.98em;
    color: #967e3a;
    text-align: right;
    text-transform: none;
    font-weight: bold;
    text-align: center;
    margin-top: -2rem;
    padding: 0 1rem;
    text-transform: uppercase; }
  .home .title_txt_container .title_text {
    width: 100%;
    letter-spacing: 0.024rem;
    font-size: 1.35rem;
    font-family: "Poiret One", cursive;
    font-family: "Audiowide", cursive;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Cormorant Unicase", serif;
    font-weight: bolder;
    color: #967e3a;
    text-shadow: none;
    padding: 0; }
  .home .svg-container {
    width: 80%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);
            transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1); }
    @media only screen and (min-width: 1024px) {
      .home .svg-container {
        height: 100vh;
        width: 28%;
        padding-top: 7em; } }
    .home .svg-container .social-icons,
    .home .svg-container #bottomBTN,
    .home .svg-container #leftBTN,
    .home .svg-container #rightBTN,
    .home .svg-container #topBTN {
      visibility: hidden; }
      .home .svg-container .social-icons.open,
      .home .svg-container #bottomBTN.open,
      .home .svg-container #leftBTN.open,
      .home .svg-container #rightBTN.open,
      .home .svg-container #topBTN.open {
        visibility: visible; }
    .home .svg-container #leters {
      animation: yellow_ring 4.5s infinite linear alternate-reverse;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes yellow_ring {
  from {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg); }
  to {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg); } }

@keyframes yellow_ring {
  from {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg); }
  to {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg); } }
    .home .svg-container #semi_red {
      animation: ring2 8.5s infinite linear alternate-reverse;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes ring2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes ring2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
    .home .svg-container #ring1 {
      -webkit-animation: ring1 6.5s ease-in-out infinite alternate;
              animation: ring1 6.5s ease-in-out infinite alternate;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes ring1 {
  from {
    -webkit-transform: rotateZ(0deg) translate(0%) translateX(0%);
            transform: rotateZ(0deg) translate(0%) translateX(0%); }
  to {
    -webkit-transform: rotateZ(360deg) translateY(2%) translateX(-2%);
            transform: rotateZ(360deg) translateY(2%) translateX(-2%); } }

@keyframes ring1 {
  from {
    -webkit-transform: rotateZ(0deg) translate(0%) translateX(0%);
            transform: rotateZ(0deg) translate(0%) translateX(0%); }
  to {
    -webkit-transform: rotateZ(360deg) translateY(2%) translateX(-2%);
            transform: rotateZ(360deg) translateY(2%) translateX(-2%); } }
  .home #icon {
    -webkit-animation: logo 4.3s ease-in-out infinite alternate;
            animation: logo 4.3s ease-in-out infinite alternate;
    -webkit-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box; }

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes logo {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
  .home .fit-picture {
    width: 59%; }
    @media only screen and (min-width: 1024px) {
      .home .fit-picture {
        width: 20%;
        height: 300px;
        opacity: 0.6; } }
  .home h2 {
    text-transform: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 10%;
    margin-top: 0.4rem;
    color: #93a7a9;
    font-family: "EB Garamond", serif;
    font-family: "Julius Sans One", sans-serif;
    font-family: "Girassol", cursive;
    font-family: "Cinzel Decorative", cursive;
    font-family: "Turret Road", "cursive";
    letter-spacing: 0.03em;
    letter-spacing: 0;
    text-shadow: 0.5px 1.36px #54849a; }
    @media only screen and (min-width: 768px) {
      .home h2 {
        font-size: 1.3rem; } }
    @media only screen and (min-width: 1024px) {
      .home h2 {
        font-size: 1.1rem;
        letter-spacing: 0; } }
  .home__name {
    font-size: 2.1rem;
    padding-bottom: 0.5rem;
    line-height: 3rem;
    font-family: "Bebas Neue", cursive;
    font-family: "Turret Road", cursive;
    letter-spacing: 0.13rem;
    border-bottom: 2px solid #ffffff;
    border-bottom: 0.5px solid #332b28;
    text-shadow: 1.8px 2.36px #3e473a;
    text-shadow: 1.8px 2.36px #202d33; }
    @media only screen and (min-width: 768px) {
      .home__name {
        font-size: 3rem; } }
    @media only screen and (min-width: 1024px) {
      .home__name {
        font-size: 2.6rem; } }
    .home__name--last {
      font-weight: 700;
      color: #e5fff6; }
  .home .cta__button {
    background: none;
    padding: 0.5rem;
    border-radius: 0.42rem;
    margin: 1.2rem 0;
    border: 2px solid #9abcda;
    -webkit-box-shadow: #a8bacc 1px 1px 4px, #b9cfd4 -1px -1px 4px;
            box-shadow: #a8bacc 1px 1px 4px, #b9cfd4 -1px -1px 4px; }
    @media only screen and (min-width: 768px) {
      .home .cta__button {
        border-radius: 0.44rem; } }
    @media only screen and (min-width: 1024px) {
      .home .cta__button {
        width: auto;
        padding: 0; } }
    .home .cta__button #cta__link {
      text-shadow: 1.08px 1.36px #202d33;
      font-size: 1.06rem;
      font-weight: bold;
      font-family: "Turret Road", "cursive";
      color: #e2f3fb;
      width: 100%;
      height: 100%;
      margin: 1rem; }
      @media only screen and (min-width: 768px) {
        .home .cta__button #cta__link {
          line-height: 2.2rem; } }
      .home .cta__button #cta__link:hover {
        cursor: pointer;
        color: #93a7a9;
        font-weight: bolder;
        color: #93a7a9;
        font-size: 1.06rem;
        font-style: italic; }
        @media only screen and (min-width: 768px) {
          .home .cta__button #cta__link:hover {
            line-height: 2.2rem; } }
  .home .menu-nav__item:nth-child(1) {
    -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s; }
  .home .menu-nav__item:nth-child(2) {
    -webkit-transition-delay: 0.245s;
            transition-delay: 0.245s; }
  .home .menu-nav__item:nth-child(3) {
    -webkit-transition-delay: 0.315s;
            transition-delay: 0.315s; }
  .home .menu-nav__item:nth-child(4) {
    -webkit-transition-delay: 0.385s;
            transition-delay: 0.385s; }
  .home .projects__item3 {
    width: auto;
    overflow: hidden;
    max-height: none; }
    @media only screen and (min-width: 1024px) {
      .home .projects__item3 {
        width: 42%; } }
    .home .projects__item3 .project__title {
      color: #22333a; }
  .home .block {
    background: -webkit-gradient(linear, left top, right top, from(rgba(241, 248, 255, 0.29)), to(rgba(184, 248, 255, 0.23)));
    background: linear-gradient(to right, rgba(241, 248, 255, 0.29), rgba(184, 248, 255, 0.23)); }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #ffffff; }
  @media only screen and (min-width: 1024px) {
    .social-icons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: auto;
      left: 0;
      height: 100%;
      padding: 1rem 0.5rem;
      height: 100%; } }
  .social-icons .fa-2x {
    font-size: 1.4em; }

.menu-btn {
  position: absolute;
  left: 2%;
  top: 0.5rem;
  width: 28px;
  height: 0px;
  background: #ffffff;
  -webkit-transition: all 0.42s ease-in-out;
  transition: all 0.42s ease-in-out;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .menu-btn {
      visibility: hidden; } }
  .menu-btn__burger {
    position: absolute;
    right: 2em;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #272727;
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out; }
    .menu-btn__burger::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #272727;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: #272727;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger.open {
      -webkit-transform: rotate(720deg);
              transform: rotate(720deg);
      background: transparent; }
      .menu-btn__burger.open::before {
        -webkit-transform: rotate(45deg) translate(5px, 8px);
                transform: rotate(45deg) translate(5px, 8px); }
      .menu-btn__burger.open::after {
        width: 28px;
        -webkit-transform: rotate(-45deg) translate(3px, -7px);
                transform: rotate(-45deg) translate(3px, -7px); }
  .menu-btn__logo {
    color: #daa520;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Audiowide", "Montserrat", "cursive"; }
  .menu-btn .dezines {
    color: #1f2429; }

.nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 35px;
  background-color: #f3f0d8;
  opacity: 0.98;
  -webkit-box-shadow: 0px 2px 13px rgba(89, 116, 121, 0.54), 0px -3px 4px rgba(33, 52, 59, 0.4);
          box-shadow: 0px 2px 13px rgba(89, 116, 121, 0.54), 0px -3px 4px rgba(33, 52, 59, 0.4); }
  @media only screen and (min-width: 768px) {
    .nav {
      visibility: visible;
      height: auto; } }
  .nav.open {
    visibility: visible; }
  .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out;
    background: white; }
    @media only screen and (min-width: 768px) {
      .nav .menu-nav {
        display: block;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        height: 100%;
        text-align: center;
        padding-right: 0;
        padding: 0.32rem 0; } }
    .nav .menu-nav.open {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .nav .menu-nav__item {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__item {
          display: inline;
          padding: 0.5rem; } }
      .nav .menu-nav__item.open {
        -webkit-transform: translate(0);
                transform: translate(0); }
      .nav .menu-nav__item.active > a {
        color: #daa520;
        border-bottom: 2px solid #fcd603;
        font-family: "Roboto", "sans-serif", "Montserrat", "Cursive"; }
        @media only screen and (min-width: 768px) {
          .nav .menu-nav__item.active > a {
            font-size: 1em; } }
    .nav .menu-nav__link {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
      width: auto;
      text-transform: uppercase;
      text-align: center;
      padding: 0.47em 0;
      margin: 3px 0;
      border-radius: 0.28rem;
      letter-spacing: 0.084em;
      color: #1f2429;
      font-family: "Roboto", "sans-serif", "Montserrat", "Cursive";
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__link {
          text-shadow: 1.28px 0.736px #dde0e2;
          padding: 0.8rem 0;
          font-size: 1.24rem;
          width: 121px; } }
      @media only screen and (min-width: 1024px) {
        .nav .menu-nav__link {
          font-size: 1.032rem;
          letter-spacing: 0.1rem;
          width: 140px; } }
      .nav .menu-nav__link:hover {
        cursor: pointer;
        color: #414c57;
        font-weight: bold;
        -webkit-box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9;
                box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9; }

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s; }

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.245s;
          transition-delay: 0.245s; }

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.315s;
          transition-delay: 0.315s; }

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.385s;
          transition-delay: 0.385s; }

.menu-nav__item:nth-child(5) {
  -webkit-transition-delay: 0.455s;
          transition-delay: 0.455s; }

.about {
  padding-bottom: 0rem;
  background: white; }
  .about .breadCrumbs {
    position: absolute;
    top: 3%;
    left: 3%; }
    @media only screen and (min-width: 768px) {
      .about .breadCrumbs {
        top: 9%; } }
    @media only screen and (min-width: 1024px) {
      .about .breadCrumbs {
        top: 15%; } }
  .about__bio-image {
    width: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media only screen and (min-width: 768px) {
      .about__bio-image {
        padding: 71px 5%; } }
    .about__bio-image .text-secondary {
      font-size: 1.05rem;
      font-weight: bolder;
      text-align: left;
      padding: 7px 0;
      font-family: "Turret Road", "cursive";
      font-family: "Montserrat", "cursive";
      color: #daa520;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; }
      @media only screen and (min-width: 1024px) {
        .about__bio-image .text-secondary {
          font-size: 1.27rem; } }
    .about__bio-image p {
      color: #1f2429;
      padding: 4%;
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 1.5rem;
      border-radius: 0.176rem;
      line-height: 1.45rem;
      text-align: left;
      font-size: 0.97rem;
      -webkit-box-shadow: 0px 14px 14px rgba(245, 245, 245, 0.7), 4px 4px 8px rgba(36, 68, 66, 0.17);
              box-shadow: 0px 14px 14px rgba(245, 245, 245, 0.7), 4px 4px 8px rgba(36, 68, 66, 0.17);
      padding: 0.8rem; }
      @media only screen and (min-width: 768px) {
        .about__bio-image p {
          border-radius: 0.05rem;
          line-height: 1.7rem;
          letter-spacing: 0.031rem;
          font-size: 1.03rem; } }
      @media only screen and (min-width: 1024px) {
        .about__bio-image p {
          -webkit-box-shadow: none;
                  box-shadow: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 2.5% 6%;
          letter-spacing: 0;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .about__bio-image p #more {
        display: none; }
      .about__bio-image p #myBtn {
        padding: 0.35em;
        border-radius: 5.4px;
        margin-top: 5px;
        font-size: 1rem;
        background: none;
        color: #8aa3ac;
        font-style: italic;
        border: none; }
        @media only screen and (min-width: 768px) {
          .about__bio-image p #myBtn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start; } }
  .about__bio {
    width: 95%;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .about__bio {
        font-size: 1.5rem;
        width: 90%; } }
  .about .img-container {
    padding: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-radius: 6px;
    height: auto; }
    @media only screen and (min-width: 768px) {
      .about .img-container {
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      .about .img-container {
        border: none;
        width: 77%; } }
  .about .jobs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1% 4%;
    margin: 0.2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    @media only screen and (min-width: 768px) {
      .about .jobs {
        width: 100%; } }
    .about .jobs__bio-image {
      width: 100%;
      border-radius: 0.3rem;
      padding-top: 38vh;
      background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.02)), to(rgba(39, 39, 39, 0))), url(../img/profile.jpg) center center;
      background: linear-gradient(to right, rgba(39, 39, 39, 0.02), rgba(39, 39, 39, 0)), url(../img/profile.jpg) center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-shadow: 2px 6px 7px #67818e, 2px -4px 10px #67818e;
              box-shadow: 2px 6px 7px #67818e, 2px -4px 10px #67818e; }
      @media only screen and (min-width: 768px) {
        .about .jobs__bio-image {
          height: 35vh;
          background-size: cover;
          padding: 4% 6%; } }
      @media only screen and (min-width: 1024px) {
        .about .jobs__bio-image {
          height: 55vh; } }
      .about .jobs__bio-image .text-secondary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-family: "Montserrat", "cursive";
        width: 100%;
        display: flex;
        color: #93a7a9;
        text-transform: uppercase;
        text-align: justify;
        font-size: 0.81rem;
        margin: 0; }
        @media only screen and (min-width: 768px) {
          .about .jobs__bio-image .text-secondary {
            background: none;
            margin-bottom: 0rem;
            font-size: 1rem;
            text-align: right; } }
        @media only screen and (min-width: 1024px) {
          .about .jobs__bio-image .text-secondary {
            font-size: 0.7rem;
            padding: 0 6%; } }
    .about .jobs__job {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      border-bottom: 0.5px solid #1f2429; }
      .about .jobs__job h2,
      .about .jobs__job h3 {
        margin: 0.22rem 0;
        line-height: 1.55rem;
        font-size: 1.33rem;
        color: #1f2429; }
        @media only screen and (min-width: 1024px) {
          .about .jobs__job h2,
          .about .jobs__job h3 {
            font-size: 1.7rem; } }
      .about .jobs__job h5 {
        font-size: 1rem;
        letter-spacing: 0.02rem;
        color: #93a7a9;
        font-family: "Turret Road", "cursive";
        font-weight: normal;
        font-style: normal;
        padding: 0.15rem 0;
        padding-top: 0.045rem; }
        @media only screen and (min-width: 1024px) {
          .about .jobs__job h5 {
            font-size: 1.1rem; } }
      .about .jobs__job h6 {
        margin: 0.3rem 0; }
  .about .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.52rem;
    right: 1px;
    width: 100%;
    bottom: 0;
    background: rgba(85, 96, 105, 0.35); }
    @media only screen and (min-width: 768px) {
      .about .socialIcons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0 0.52rem;
        right: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        bottom: 0; } }
  .about footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem); }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 2rem;
  background: white; }
  @media only screen and (min-width: 768px) {
    .projects {
      padding-bottom: 0;
      height: 100%; } }
  @media only screen and (min-width: 1024px) {
    .projects {
      padding-bottom: 2rem; } }
  .projects__bio-image {
    width: 100%;
    padding-top: 10vh;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-bottom: 1px solid #8b9497; }
    @media only screen and (min-width: 768px) {
      .projects__bio-image {
        height: 100%;
        padding-top: 0;
        margin-top: 12%; } }
    @media only screen and (min-width: 1024px) {
      .projects__bio-image {
        height: 42vh;
        margin: 0 auto; } }
    .projects__bio-image .text-secondary {
      font-family: "Turret Road", "cursive";
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 0.62rem;
      color: #4a4d50;
      font-weight: bold;
      top: 30%;
      position: relative; }
      @media only screen and (min-width: 768px) {
        .projects__bio-image .text-secondary {
          font-size: 1.7rem;
          position: initial; } }
      @media only screen and (min-width: 1024px) {
        .projects__bio-image .text-secondary {
          font-size: 2rem;
          top: 18%; } }
  .projects__items {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .projects__items {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
        grid-gap: 1rem; } }
    @media only screen and (min-width: 1024px) {
      .projects__items {
        grid-template-columns: repeat(3, 1fr);
        height: auto; } }
  .projects__item1, .projects__item2, .projects__item3, .projects__item4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 40vh;
    width: 100%;
    border-radius: 0.2rem;
    position: relative;
    border: 0.5px solid #d2dde6;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: rgba(16, 40, 53, 0.25) 2px 2px 11px, rgba(58, 69, 72, 0.21) -2px -2px 10px;
            box-shadow: rgba(16, 40, 53, 0.25) 2px 2px 11px, rgba(58, 69, 72, 0.21) -2px -2px 10px; }
    @media only screen and (min-width: 768px) {
      .projects__item1, .projects__item2, .projects__item3, .projects__item4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .projects__item1 .project__title, .projects__item2 .project__title, .projects__item3 .project__title, .projects__item4 .project__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0.34rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.65rem;
      letter-spacing: 0.1rem;
      position: absolute;
      bottom: 9px;
      color: #4f575a;
      width: 55%;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-family: "Turret Road", "cursive"; }
      @media only screen and (min-width: 1024px) {
        .projects__item1 .project__title, .projects__item2 .project__title, .projects__item3 .project__title, .projects__item4 .project__title {
          font-size: 1.3rem; } }
    .projects__item1 img, .projects__item2 img, .projects__item3 img, .projects__item4 img {
      width: 100%; }
    .projects__item1::after, .projects__item2::after, .projects__item3::after, .projects__item4::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: #93a7a9;
      background: -webkit-gradient(linear, left top, right top, from(rgba(15, 24, 33, 0.29)), to(rgba(44, 92, 97, 0.23))), url(../img/sunrise.jpg) center center;
      background: linear-gradient(to right, rgba(15, 24, 33, 0.29), rgba(44, 92, 97, 0.23)), url(../img/sunrise.jpg) center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .projects__item1:hover::after, .projects__item2:hover::after, .projects__item3:hover::after, .projects__item4:hover::after {
      top: 0;
      opacity: 0.77; }
    .projects__item1:hover .projects__btn, .projects__item2:hover .projects__btn, .projects__item3:hover .projects__btn, .projects__item4:hover .projects__btn {
      opacity: 1; }
  .projects__btns {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .projects__btn {
    opacity: 0;
    color: #000;
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out; }
    .projects__btn:hover {
      color: #ffffff;
      font-size: 1.3rem; }
  .projects .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.52rem;
    right: 1px;
    bottom: 0;
    background: rgba(85, 96, 105, 0.35); }
    @media only screen and (min-width: 768px) {
      .projects .socialIcons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0 0.52rem;
        right: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        bottom: 0; } }
    @media only screen and (min-width: 1024px) {
      .projects .socialIcons {
        background: none; } }
  .projects footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem); }
  .projects .block {
    width: 35%; }
    @media only screen and (min-width: 768px) {
      .projects .block {
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      .projects .block {
        width: 22%; } }
  @media only screen and (min-width: 1024px) {
    .projects .fa-2x {
      font-size: 1em; } }

.contact {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #93a7a9;
  padding: 18vh 0;
  width: 100%;
  background: white; }
  @media only screen and (min-width: 768px) {
    .contact {
      padding: 25vh 0; } }
  @media only screen and (min-width: 1024px) {
    .contact {
      padding-top: 33vh; } }
  .contact h2 {
    font-size: 2.26rem;
    margin-bottom: 2rem;
    font-family: "Audiowide","Montserrat", cursive;
    color: #daa520;
    font-weight: bolder;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .contact h2 {
        margin-bottom: 3.2rem;
        font-size: 3em; } }
    @media only screen and (min-width: 1024px) {
      .contact h2 {
        font-weight: bold;
        letter-spacing: 0.05rem; } }
  .contact__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.35rem; }
    @media only screen and (min-width: 768px) {
      .contact__list {
        grid-template-columns: repeat(1, 1fr); } }
  .contact .social-icons {
    position: initial; }
    @media only screen and (min-width: 768px) {
      .contact .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        padding: 1em 0.5em; } }
    .contact .social-icons .fa-2x {
      font-size: 1.53rem;
      padding: 0.2rem 0; }
      @media only screen and (min-width: 1024px) {
        .contact .social-icons .fa-2x {
          font-size: 1.2rem; } }
    @media only screen and (min-width: 768px) {
      .contact .social-icons {
        margin-top: 7rem; } }
    @media only screen and (min-width: 1024px) {
      .contact .social-icons {
        margin-top: 11rem; } }
  .contact .text-secondary {
    color: #daa520;
    font-family: "Montserrat", "cursive";
    margin: 3px 0;
    font-size: 1.2rem;
    letter-spacing: 0.04em; }

:root {
  /* Set fade in duration */
  --fade-time: 0.5s; }

.main-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 24, 33, 0.29)), to(rgba(44, 92, 97, 0.23))), url("../img/cloth.jpg") center center;
  background: linear-gradient(to right, rgba(15, 24, 33, 0.29), rgba(44, 92, 97, 0.23)), url("../img/cloth.jpg") center center;
  background-size: cover;
  background: white; }
  @media only screen and (min-width: 768px) {
    .main-container {
      height: auto;
      margin-top: 10%; } }
  @media only screen and (min-width: 1024px) {
    .main-container {
      margin: 0 auto;
      height: 100%;
      height: auto;
      overflow: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 760px;
  margin: auto;
  overflow: scroll;
  border: #eef9ff solid 2px;
  -webkit-box-shadow: 0px 10px 5px #aab7bd, 0px -10px 5px #b5c6ce;
          box-shadow: 0px 10px 5px #aab7bd, 0px -10px 5px #b5c6ce;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 24, 33, 0.29)), to(rgba(44, 92, 97, 0.23))), url("../img/cloth.jpg") center center;
  background: linear-gradient(to right, rgba(15, 24, 33, 0.29), rgba(44, 92, 97, 0.23)), url("../img/cloth.jpg") center center;
  background-size: cover;
  background: white; }
  @media only screen and (min-width: 768px) {
    .container {
      height: 100%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0;
      padding-top: 2%; } }

.main-img {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (min-width: 768px) {
    .main-img {
      padding: 0; } }
  @media only screen and (min-width: 1024px) {
    .main-img {
      width: 60%; } }

.main-img img,
.imgs img {
  width: 100%; }

@media only screen and (min-width: 1024px) {
  .main-img img {
    padding: 2%; } }

.imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 12px;
  padding-top: 16px; }
  @media only screen and (min-width: 1024px) {
    .imgs {
      width: 40%;
      margin: 5%; } }

@media only screen and (min-width: 768px) {
  margin: 0px 24%; }

.imgs img {
  cursor: pointer; }

/* Fade in animation */
@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn var(--fade-time) ease-in 1 forwards;
          animation: fadeIn var(--fade-time) ease-in 1 forwards; }

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .socialIcons {
      padding: 0 0.52rem;
      margin-right: 25px; } }
  @media only screen and (min-width: 1024px) {
    .socialIcons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem); }

/* Media Queries */
/*-----X------ partials imports ------X-----*/
/*----------- @Mixins -----------*/
/*----------- Light & Dark Theme -----------*/
/*----------- @Mixins -----------*/
body {
  background: #1b2429;
  color: #ffffff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1; }

h1,
h2,
h3 {
  font-weight: 400; }

a {
  color: #ffffff;
  text-decoration: none; }

a:link {
  color: purple;
  background-color: #f3f0d8;
  width: 100%; }

a:focus {
  -webkit-box-shadow: 0 0 1px 1px #3f3530;
          box-shadow: 0 0 1px 1px #3f3530;
  background-color: #bfb083; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

main {
  height: 100vh;
  width: 100%; }
  main a {
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out;
    padding: 0.4rem;
    color: #93a7a9; }
    main a:hover {
      color: white;
      cursor: pointer; }

footer {
  font-size: 0.75rem;
  position: fixed;
  bottom: 0.54rem;
  right: 1.75rem;
  text-align: right;
  padding: 1rem;
  color: #646262; }
/*# sourceMappingURL=main.css.map */