/*--------------Google fonts impors--------------*/
/*----------- partials imports -----------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  list-style: none; }

.showIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 2rem;
  font-size: 0.7rem;
  right: 0.41rem;
  padding: 0.09rem; }

.home,
.homeMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 4px solid #bc2241;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#7b6a8a12), to(#1e272f24)), url(../img/tie_red.png) center center;
  background: linear-gradient(to right, #7b6a8a12, #1e272f24), url(../img/tie_red.png) center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5rem; }
  @media only screen and (min-width: 768px) {
    .home,
    .homeMain {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-top: -4rem; } }
  .home .wrap,
  .homeMain .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
    height: 14%;
    margin-top: 2rem;
    background: #bc2241;
    position: fixed;
    margin: 0;
    top: 0; }
    @media only screen and (min-width: 768px) {
      .home .wrap,
      .homeMain .wrap {
        height: 12%;
        margin-top: 6rem; } }
  .home h1,
  .homeMain h1 {
    position: relative;
    margin-top: 9rem;
    font-weight: bold;
    font-size: 2.6rem;
    color: #610a18; }
    .home h1 span,
    .homeMain h1 span {
      font-weight: normal;
      letter-spacing: 0.02rem;
      color: #fff0f5;
      text-shadow: 2px 3px 4px dimgrey;
      font-family: "Robot","Montserrat", cursive;
      font-family: "Cinzel Decorative", cursive; }
  .home .creativity,
  .homeMain .creativity {
    font-size: 1.2rem;
    color: #c56d00;
    text-shadow: none; }
  .home svg,
  .homeMain svg {
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .home svg,
      .homeMain svg {
        height: 66vh;
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      .home svg,
      .homeMain svg {
        width: 100%;
        height: 100%;
        padding-top: 0; } }
  .home .my_name,
  .homeMain .my_name {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1.39em;
    font-weight: bold;
    line-height: 1em;
    color: #f7dea7;
    letter-spacing: 0em;
    text-shadow: none;
    text-align: center;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .home .my_name,
      .homeMain .my_name {
        font-size: 2.6em; } }
  .home .title_txt_container,
  .homeMain .title_txt_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0; }
    .home .title_txt_container .title_text,
    .homeMain .title_txt_container .title_text {
      font-size: 1.25rem;
      font-family: "Poiret One", cursive;
      font-family: "Audiowide", cursive;
      font-family: "Cormorant Unicase", serif;
      text-shadow: 3.28px 3.36px #e7ffc7;
      color: #f7dea7;
      text-shadow: none;
      padding: 0; }
      @media only screen and (min-width: 768px) {
        .home .title_txt_container .title_text,
        .homeMain .title_txt_container .title_text {
          font-size: 2.5em; } }
  .home .svg-container,
  .homeMain .svg-container {
    width: 68%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);
            transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1); }
    @media only screen and (min-width: 768px) {
      .home .svg-container,
      .homeMain .svg-container {
        height: 47vh;
        width: 100%;
        margin-top: 6rem; } }
    .home .svg-container #navy_theme,
    .homeMain .svg-container #navy_theme {
      -webkit-animation: flower 10s infinite linear alternate;
              animation: flower 10s infinite linear alternate;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes flower {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg); } }

@keyframes flower {
  from {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); }
  to {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg); } }
    .home .svg-container #leters,
    .homeMain .svg-container #leters {
      animation: yellow_ring 8.5s infinite linear alternate-reverse;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes yellow_ring {
  from {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg); }
  to {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg); } }

@keyframes yellow_ring {
  from {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg); }
  to {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg); } }
    .home .svg-container #semi_red,
    .homeMain .svg-container #semi_red {
      -webkit-animation: ring2 11s infinite linear alternate;
              animation: ring2 11s infinite linear alternate;
      -webkit-transform-origin: center;
              transform-origin: center;
      transform-box: fill-box; }

@-webkit-keyframes ring2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(94deg);
            transform: rotateZ(94deg); } }

@keyframes ring2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(94deg);
            transform: rotateZ(94deg); } }
  .home .fit-picture,
  .homeMain .fit-picture {
    width: 59%; }
    @media only screen and (min-width: 1024px) {
      .home .fit-picture,
      .homeMain .fit-picture {
        width: 20%;
        height: 300px;
        opacity: 0.6; } }
  .home h2,
  .homeMain h2 {
    text-transform: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 10%;
    color: #93a7a9;
    font-family: "EB Garamond", serif;
    font-family: "Julius Sans One", sans-serif;
    font-family: "Girassol", cursive;
    font-family: "Cinzel Decorative", cursive;
    font-family: "Turret Road", "cursive";
    letter-spacing: 0.03em;
    letter-spacing: 0;
    text-shadow: 0.5px 1.36px #54849a; }
    @media only screen and (min-width: 768px) {
      .home h2,
      .homeMain h2 {
        font-size: 1.3rem; } }
    @media only screen and (min-width: 1024px) {
      .home h2,
      .homeMain h2 {
        font-size: 1.1rem;
        letter-spacing: 0; } }
  .home .menu-nav__item:nth-child(1),
  .homeMain .menu-nav__item:nth-child(1) {
    -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s; }
  .home .menu-nav__item:nth-child(2),
  .homeMain .menu-nav__item:nth-child(2) {
    -webkit-transition-delay: 0.245s;
            transition-delay: 0.245s; }
  .home .menu-nav__item:nth-child(3),
  .homeMain .menu-nav__item:nth-child(3) {
    -webkit-transition-delay: 0.315s;
            transition-delay: 0.315s; }
  .home .menu-nav__item:nth-child(4),
  .homeMain .menu-nav__item:nth-child(4) {
    -webkit-transition-delay: 0.385s;
            transition-delay: 0.385s; }
  .home .projects__item3,
  .homeMain .projects__item3 {
    width: auto;
    overflow: hidden;
    max-height: none; }
    @media only screen and (min-width: 1024px) {
      .home .projects__item3,
      .homeMain .projects__item3 {
        width: 42%; } }
    .home .projects__item3 .project__title,
    .homeMain .projects__item3 .project__title {
      color: #22333a; }
  .home .block,
  .homeMain .block {
    background: -webkit-gradient(linear, left top, right top, from(rgba(241, 248, 255, 0.29)), to(rgba(184, 248, 255, 0.23)));
    background: linear-gradient(to right, rgba(241, 248, 255, 0.29), rgba(184, 248, 255, 0.23)); }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #283546; }
  @media only screen and (min-width: 1024px) {
    .social-icons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: auto;
      left: 0;
      height: 100%;
      padding: 1rem 0.5rem;
      height: 100%; } }
  .social-icons .fa-2x {
    font-size: 1.4em; }

#project-index {
  -webkit-animation: breadCrumb 8s infinite linear alternate;
          animation: breadCrumb 8s infinite linear alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box; }

@-webkit-keyframes breadCrumb {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg); }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg); } }

@keyframes breadCrumb {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg); }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg); } }

.menu-btn {
  position: fixed;
  left: 2%;
  top: 17px;
  width: 50%;
  height: 0px;
  background: #ffffff;
  -webkit-transition: all 0.42s ease-in-out;
  transition: all 0.42s ease-in-out;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .menu-btn__burger {
    position: absolute;
    left: 1em;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: white;
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out; }
    .menu-btn__burger::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: white;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: white;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .menu-btn__burger.open {
      -webkit-transform: rotate(720deg);
              transform: rotate(720deg);
      background: transparent; }
      .menu-btn__burger.open::before {
        -webkit-transform: rotate(45deg) translate(5px, 8px);
                transform: rotate(45deg) translate(5px, 8px); }
      .menu-btn__burger.open::after {
        color: #138d1b;
        width: 28px;
        -webkit-transform: rotate(-45deg) translate(3px, -7px);
                transform: rotate(-45deg) translate(3px, -7px); }
  .menu-btn__logo {
    color: #ffb443;
    margin-top: 3px;
    font-size: 1.15em;
    font-weight: bold;
    font-family: "Cinzel Decorative", cursive;
    font-family: "Charmonman", serif;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffff94));
    background: linear-gradient(to right, #ffffff, #ffff94); }

.nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 48px;
  background-color: #bc2241;
  -webkit-box-shadow: 0px 2px 1px rgba(157, 32, 26, 0.127), 0px -3px 1px rgba(99, 11, 6, 0.244);
          box-shadow: 0px 2px 1px rgba(157, 32, 26, 0.127), 0px -3px 1px rgba(99, 11, 6, 0.244); }
  @media only screen and (min-width: 768px) {
    .nav {
      height: 65px; } }
  .nav.open {
    visibility: visible;
    padding: 0px; }
  .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #3e0d18;
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out;
    background: white; }
    @media only screen and (min-width: 768px) {
      .nav .menu-nav {
        display: block;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        height: 100%;
        text-align: center;
        padding-right: 0;
        padding: 2rem 0;
        background: #3e0d18; } }
    .nav .menu-nav.open {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      border: 4px solid #ffd9d7;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 36px;
      padding-top: 51px;
      height: 100vh;
      z-index: 10;
      background: #bc2241; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav.open {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 70%;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding: 8rem 0;
          -webkit-box-shadow: 1rem 0px 50px #aaada0;
                  box-shadow: 1rem 0px 50px #aaada0; } }
    .nav .menu-nav .nav .menu-nav__item:nth-child(3) {
      margin-top: -13rem; }
    .nav .menu-nav__item {
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out;
      width: auto; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__item {
          display: inline;
          padding: 0.5rem; } }
      .nav .menu-nav__item.open {
        -webkit-transform: translate(0);
                transform: translate(0); }
      .nav .menu-nav__item.active > a {
        color: #5f5050;
        border-bottom: 2px solid #fcd603;
        font-family: "Roboto", "sans-serif", "Montserrat", "Cursive";
        font-family: "Cormorant Unicase", serif;
        border: none;
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        font-size: 1.42rem; }
        @media only screen and (min-width: 768px) {
          .nav .menu-nav__item.active > a {
            font-size: 1em; } }
      .nav .menu-nav__item a {
        width: 100%;
        font-family: "Cormorant Unicase", serif;
        padding: 10px;
        margin: 0.5rem 0;
        padding: 1.2rem;
        letter-spacing: 0.2rem; }
        @media only screen and (min-width: 768px) {
          .nav .menu-nav__item a {
            width: auto;
            padding: 8px;
            margin: 0 auto; } }
      .nav .menu-nav__item.active > a:hover:active {
        font-family: "Cormorant Unicase", serif; }
      .nav .menu-nav__item #topLink:hover:active {
        background-color: red; }
    .nav .menu-nav__link {
      width: 100%;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
      text-shadow: none;
      text-transform: uppercase;
      text-align: center;
      padding: 0.47em 0.5em;
      padding-left: 0;
      margin: 3px 0;
      border-radius: 0.28rem;
      letter-spacing: 0.084em;
      color: #637d8b;
      border: 1px solid #a9bdc0;
      width: 100%;
      background-color: #f3f0d8;
      font-family: "Cormorant Unicase", serif;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
      .nav .menu-nav__link:active {
        font-family: "Cormorant Unicase", serif;
        border: none;
        background-color: none;
        -webkit-box-shadow: none;
                box-shadow: none; }
      .nav .menu-nav__link:focus {
        -webkit-box-shadow: 0 0 1px 1px #3f3530;
                box-shadow: 0 0 1px 1px #3f3530;
        background-color: #bfb083; }
      @media only screen and (min-width: 768px) {
        .nav .menu-nav__link {
          padding: 0.8rem 0;
          font-size: 1.24rem;
          width: 121px;
          margin: auto; } }
      @media only screen and (min-width: 1024px) {
        .nav .menu-nav__link {
          font-size: 1.032rem;
          letter-spacing: 0.1rem;
          width: 140px; } }
      .nav .menu-nav__link:hover {
        cursor: pointer;
        color: #414c57;
        font-weight: bold;
        -webkit-box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9;
                box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9; }
  .nav .my_name {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1.9em;
    font-weight: normal;
    line-height: 1em;
    color: lavenderblush;
    letter-spacing: 0em;
    text-shadow: none;
    text-align: center;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .nav .my_name {
        font-size: 2.9em; } }
  .nav .svg-container {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);
            transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear, -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1); }
    @media only screen and (min-width: 768px) {
      .nav .svg-container {
        width: 100%;
        padding-top: 0;
        height: 92vh; } }
    @media only screen and (min-width: 1024px) {
      .nav .svg-container {
        height: 100vh; } }
    .nav .svg-container svg {
      width: 100%;
      height: 100%; }
      @media only screen and (min-width: 768px) {
        .nav .svg-container svg {
          width: 74%;
          height: 71vh; } }
  .nav .title_txt_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%; }
    .nav .title_txt_container .title_text {
      font-size: 1.2rem;
      font-family: "Poiret One", cursive;
      font-family: "Audiowide", cursive;
      font-family: "Cormorant Unicase", serif;
      text-shadow: 3.28px 3.36px #e7ffc7;
      color: lavenderblush;
      text-shadow: none;
      padding: 0; }
      @media only screen and (min-width: 768px) {
        .nav .title_txt_container .title_text {
          font-size: 2rem;
          margin: 0; } }
  .nav #leters {
    animation: yellow_ring 4.5s infinite linear alternate-reverse;
    -webkit-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box; }

@keyframes yellow_ring {
  from {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg); }
  to {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg); } }
  .nav #semi_red {
    animation: ring2 8.5s infinite linear alternate-reverse;
    -webkit-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box; }

@keyframes ring2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
  .nav .menu-nav__item:nth-child(1) {
    -webkit-transition-delay: 0.175s;
            transition-delay: 0.175s; }
  .nav .menu-nav__item:nth-child(2) {
    -webkit-transition-delay: 0.245s;
            transition-delay: 0.245s; }
  .nav .menu-nav__item:nth-child(3) {
    -webkit-transition-delay: 0.315s;
            transition-delay: 0.315s; }
  .nav .menu-nav__item:nth-child(4) {
    -webkit-transition-delay: 0.385s;
            transition-delay: 0.385s; }
  .nav .menu-nav__item:nth-child(5) {
    -webkit-transition-delay: 0.455s;
            transition-delay: 0.455s; }

.about {
  padding-bottom: 0rem;
  background-color: #f8f3b0;
  padding-top: 2.2rem;
  border: 4px solid rgba(188, 34, 65, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#f2f5e9), to(#f9f9f9)), url(../img/sunrise.jpg) center center;
  background: linear-gradient(to right, #f2f5e9, #f9f9f9), url(../img/sunrise.jpg) center center; }
  .about .breadCrumbs {
    position: absolute;
    top: 3%;
    left: 3%; }
    @media only screen and (min-width: 768px) {
      .about .breadCrumbs {
        top: 9%; } }
    @media only screen and (min-width: 1024px) {
      .about .breadCrumbs {
        top: 15%; } }
  .about__bio-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media only screen and (min-width: 768px) {
      .about__bio-image {
        padding: 71px 5%; } }
    .about__bio-image .text-secondary {
      font-size: 1.58rem;
      text-align: left;
      padding-bottom: 1px;
      color: #80b727;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      font-family: "Bebas Neue", "Juslius Sans", "cursive";
      font-family: "Cinzel Decorative", cursive; }
      @media only screen and (min-width: 1024px) {
        .about__bio-image .text-secondary {
          font-size: 1.27rem; } }
    .about__bio-image p {
      padding: 1%;
      padding-bottom: 1.4rem;
      width: 100%;
      margin: 0;
      border-radius: 0.176rem;
      font-size: 0.92em;
      line-height: 1.43em;
      text-align: left; }
      @media only screen and (min-width: 768px) {
        .about__bio-image p {
          border-radius: 0.05rem;
          line-height: 1.7rem;
          letter-spacing: 0.031rem;
          font-size: 1.03rem; } }
      @media only screen and (min-width: 1024px) {
        .about__bio-image p {
          -webkit-box-shadow: none;
                  box-shadow: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 2.5% 6%;
          letter-spacing: 0;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .about__bio-image p #more {
        display: none; }
      .about__bio-image p #myBtn {
        padding: 0.35em;
        border-radius: 5.4px;
        margin-top: 5px;
        font-size: 1rem;
        background: none;
        color: #d09667;
        font-style: italic;
        border: none; }
        @media only screen and (min-width: 768px) {
          .about__bio-image p #myBtn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start; } }
  .about__bio {
    width: 100%;
    padding: 3%;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff)), url(../img/rooster-b-w.jpg) center center;
    background: linear-gradient(to right, #ffffff, #ffffff), url(../img/rooster-b-w.jpg) center center;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .about__bio {
        font-size: 1.5rem;
        width: 90%; } }
    .about__bio h3 {
      color: #bd7e40;
      font-size: 1.5em;
      padding-top: 15px;
      text-align: left;
      font-weight: bold;
      line-height: 1.052em;
      font-family: "Cinzel Decorative", cursive;
      font-family: "Roboto", "Monserrat", cursive; }
    .about__bio h5 {
      color: #716f51;
      font-size: 1em;
      padding: 3%;
      font-weight: normal;
      text-align: left; }
    .about__bio .main-title {
      color: #3e0d18; }
  .about .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-radius: 6px;
    height: auto; }
    @media only screen and (min-width: 768px) {
      .about .img-container {
        width: 100%; } }
    @media only screen and (min-width: 1024px) {
      .about .img-container {
        border: none;
        width: 77%; } }
  .about .jobs {
    width: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1%;
    margin: 0.2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    @media only screen and (min-width: 768px) {
      .about .jobs {
        width: 100%; } }
    .about .jobs__bio-image {
      width: 100%;
      border-radius: 0.3rem;
      padding-top: 38vh;
      background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.02)), to(rgba(39, 39, 39, 0))), url(../img/pan_portrait.png) center center;
      background: linear-gradient(to right, rgba(39, 39, 39, 0.02), rgba(39, 39, 39, 0)), url(../img/pan_portrait.png) center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-shadow: #3b3c3033 6px 6px 8px, #3f403408 -1px -1px 2px;
              box-shadow: #3b3c3033 6px 6px 8px, #3f403408 -1px -1px 2px; }
      @media only screen and (min-width: 768px) {
        .about .jobs__bio-image {
          height: 35vh;
          background-size: cover;
          padding: 4% 6%; } }
      @media only screen and (min-width: 1024px) {
        .about .jobs__bio-image {
          height: 55vh; } }
      .about .jobs__bio-image .text-secondary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-family: "Montserrat", "cursive";
        width: 100%;
        display: flex;
        color: #93a7a9;
        text-transform: uppercase;
        text-align: justify;
        font-size: 0.81rem;
        margin: 0; }
        @media only screen and (min-width: 768px) {
          .about .jobs__bio-image .text-secondary {
            background: none;
            margin-bottom: 0rem;
            font-size: 1rem;
            text-align: right; } }
        @media only screen and (min-width: 1024px) {
          .about .jobs__bio-image .text-secondary {
            font-size: 0.7rem;
            padding: 0 6%; } }
    .about .jobs__job {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 20px 10px;
      border-bottom: 0.5px solid #b89d55;
      -webkit-box-shadow: 1px 11px 7px rgba(162, 158, 142, 0), -25px 10px 9px rgba(152, 152, 129, 0.14);
              box-shadow: 1px 11px 7px rgba(162, 158, 142, 0), -25px 10px 9px rgba(152, 152, 129, 0.14);
      background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff)), url(../img/rooster-b-w.jpg) center center;
      background: linear-gradient(to right, #ffffff, #ffffff), url(../img/rooster-b-w.jpg) center center;
      background-size: cover; }
      .about .jobs__job h2,
      .about .jobs__job h3 {
        color: #292b20;
        font-size: 1.16em;
        line-height: 1.3em;
        text-transform: capitalize;
        padding-top: 5px; }
        @media only screen and (min-width: 1024px) {
          .about .jobs__job h2,
          .about .jobs__job h3 {
            font-size: 1.7rem; } }
      .about .jobs__job .text-secondary {
        color: #3e0d18;
        font-size: 1.33em;
        font-weight: bold;
        font-family: "Bebas Neue", "Juslius Sans", "cursive"; }
      .about .jobs__job h5 {
        font-size: 1rem;
        color: #09868c;
        font-style: normal;
        padding: 0;
        line-height: 1.24em;
        font-family: "Roboto", cursive; }
        @media only screen and (min-width: 1024px) {
          .about .jobs__job h5 {
            font-size: 1.1rem; } }
      .about .jobs__job h6 {
        margin: 0.3rem 0; }
  .about .social-icons {
    position: fixed;
    background-color: #404034; }
    @media only screen and (min-width: 768px) {
      .about .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        padding: 1em 0.5em; } }
    .about .social-icons a {
      background: #3f3f33; }
    .about .social-icons .fa-2x {
      font-size: 1.53rem;
      padding: 0.2rem 0; }
      @media only screen and (min-width: 1024px) {
        .about .social-icons .fa-2x {
          font-size: 1.2rem; } }
  .about footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem); }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left top, right top, from(#f2f5e9), to(#f9f9f9)), url(../img/sunrise.jpg) center center;
  background: linear-gradient(to right, #f2f5e9, #f9f9f9), url(../img/sunrise.jpg) center center;
  background-size: cover;
  border: 4px solid rgba(188, 34, 65, 0.1); }
  @media only screen and (min-width: 768px) {
    .projects {
      padding-bottom: 0;
      height: 100vh; } }
  @media only screen and (min-width: 1024px) {
    .projects {
      padding-bottom: 2rem; } }
  .projects .block {
    padding: 0.5rem;
    padding-top: 13px; }
  .projects__bio-image {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 1rem; }
    @media only screen and (min-width: 768px) {
      .projects__bio-image {
        padding-top: 0;
        margin-top: 4rem;
        height: 24%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; } }
    @media only screen and (min-width: 1024px) {
      .projects__bio-image {
        height: 42vh;
        margin: 0 auto; } }
    .projects__bio-image .text-secondary {
      font-family: "Roboto", "Monserrat", cursive;
      text-transform: uppercase;
      font-size: 1.43rem;
      margin-bottom: 0.862rem;
      color: #4a4d50;
      font-weight: bold;
      width: 100%;
      top: 30%;
      position: relative; }
      @media only screen and (min-width: 768px) {
        .projects__bio-image .text-secondary {
          font-size: 1.7rem;
          position: initial; } }
      @media only screen and (min-width: 1024px) {
        .projects__bio-image .text-secondary {
          font-size: 2rem;
          top: 18%; } }
    .projects__bio-image h5 {
      font-size: 1em;
      line-height: 1.43em;
      font-family: "roboto"; }
    .projects__bio-image p {
      text-align: left; }
    .projects__bio-image .main-title {
      color: #3e0d18; }
      @media only screen and (min-width: 768px) {
        .projects__bio-image .main-title {
          top: 1rem; } }
  .projects__items {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    z-index: 0;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .projects__items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem; } }
    @media only screen and (min-width: 1024px) {
      .projects__items {
        grid-template-columns: repeat(3, 1fr);
        height: auto; } }
  .projects__item1, .projects__item2, .projects__item3, .projects__item4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    border-radius: 0.2rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff;
    -webkit-box-shadow: #3b3c3033 6px 6px 8px, #3f403408 -1px -1px 2px;
            box-shadow: #3b3c3033 6px 6px 8px, #3f403408 -1px -1px 2px;
    z-index: 3; }
    @media only screen and (min-width: 768px) {
      .projects__item1, .projects__item2, .projects__item3, .projects__item4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .projects__item1 .project__title, .projects__item2 .project__title, .projects__item3 .project__title, .projects__item4 .project__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0.34rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.65rem;
      letter-spacing: 0.1rem;
      color: #4f575a;
      width: 55%;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-family: "Turret Road", "cursive"; }
      @media only screen and (min-width: 1024px) {
        .projects__item1 .project__title, .projects__item2 .project__title, .projects__item3 .project__title, .projects__item4 .project__title {
          font-size: 1.3rem; } }
    .projects__item1 img, .projects__item2 img, .projects__item3 img, .projects__item4 img {
      width: 100%; }
    .projects__item1::after, .projects__item2::after, .projects__item3::after, .projects__item4::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: #93a7a9;
      background: rgba(24, 29, 42, 0.8);
      opacity: 1;
      -webkit-transition: all 0.42s ease-in-out;
      transition: all 0.42s ease-in-out; }
    .projects__item1:hover::after, .projects__item2:hover::after, .projects__item3:hover::after, .projects__item4:hover::after {
      top: 0;
      opacity: 0.9;
      visibility: hidden; }
    .projects__item1:hover .projects__btn, .projects__item2:hover .projects__btn, .projects__item3:hover .projects__btn, .projects__item4:hover .projects__btn {
      opacity: 1; }
  .projects__btns {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .projects a:link {
    background-color: #d5d9c9;
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 3px;
    z-index: 1; }
  .projects__btn {
    opacity: 0;
    color: #000;
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out; }
    .projects__btn:hover {
      color: #ffffff;
      font-size: 1.3rem; }
    .projects__btn .fas {
      color: #e6f6f9; }
    .projects__btn .fab {
      color: whitesmoke; }
  .projects .block {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .projects .block {
        width: 66%; } }
  .projects .social-icons {
    position: fixed;
    background-color: #404034; }
    @media only screen and (min-width: 768px) {
      .projects .social-icons {
        z-index: 0; } }
    .projects .social-icons a {
      background: #3f3f33; }
    .projects .social-icons .fa-2x {
      font-size: 1.53rem;
      padding: 0.2rem 0; }
      @media only screen and (min-width: 1024px) {
        .projects .social-icons .fa-2x {
          font-size: 1.2rem; } }
  .projects footer {
    -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
            transform: rotate(90deg) translate(-3rem, -5rem); }

.contact {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #93a7a9;
  padding: 18vh 0;
  width: 100%;
  background: white;
  padding: 3rem 0 0 0;
  border: 4px solid #461a19;
  background: -webkit-gradient(linear, left top, right top, from(#070c0c), to(#230505a3)), url(../img/jetty.jpg) center center;
  background: linear-gradient(to right, #070c0c, #230505a3), url(../img/jetty.jpg) center center; }
  @media only screen and (min-width: 768px) {
    .contact {
      padding: 25vh 0; } }
  @media only screen and (min-width: 1024px) {
    .contact {
      padding-top: 33vh; } }
  .contact h2 {
    font-size: 2.26rem;
    margin-bottom: -15rem;
    font-family: "Bebas", "Neue", cursive;
    color: #fff0c7;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .contact h2 {
        margin-bottom: 3.2rem;
        font-size: 3em; } }
    @media only screen and (min-width: 1024px) {
      .contact h2 {
        font-weight: bold;
        letter-spacing: 0.05rem; } }
  .contact__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.35rem; }
    @media only screen and (min-width: 768px) {
      .contact__list {
        grid-template-columns: repeat(1, 1fr); } }
  .contact .contact__email,
  .contact .contact__phone,
  .contact .contact__address {
    font-family: "Cinzel Decorative", cursive;
    color: #9d201a;
    font-weight: bold; }
  .contact .social-icons {
    position: fixed;
    background-color: #404034; }
    @media only screen and (min-width: 768px) {
      .contact .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        padding: 1em 0.5em; } }
    .contact .social-icons a {
      background: #3f3f33; }
    .contact .social-icons .fa-2x {
      font-size: 1.53rem;
      padding: 0.2rem 0; }
      @media only screen and (min-width: 1024px) {
        .contact .social-icons .fa-2x {
          font-size: 1.2rem; } }
  .contact .text-secondary {
    color: #fff0c7;
    font-family: "Montserrat", "cursive";
    margin: 3px 0;
    font-size: 1rem; }
  .contact .nav .menu-nav__item:nth-child(4) {
    width: 100%; }

:root {
  /* Set fade in duration */
  --fade-time: 0.5s; }

.main-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 24, 33, 0.29)), to(rgba(44, 92, 97, 0.23))), url("../img/cloth.jpg") center center;
  background: linear-gradient(to right, rgba(15, 24, 33, 0.29), rgba(44, 92, 97, 0.23)), url("../img/cloth.jpg") center center;
  background-size: cover;
  background: white; }
  @media only screen and (min-width: 768px) {
    .main-container {
      height: auto;
      margin-top: 10%; } }
  @media only screen and (min-width: 1024px) {
    .main-container {
      margin: 0 auto;
      height: 100%;
      height: auto;
      overflow: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 760px;
  margin: auto;
  overflow: scroll;
  border: 4px solid rgba(188, 34, 65, 0.1);
  -webkit-box-shadow: 0px 10px 5px #aab7bd, 0px -10px 5px #b5c6ce;
          box-shadow: 0px 10px 5px #aab7bd, 0px -10px 5px #b5c6ce;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 24, 33, 0.29)), to(rgba(44, 92, 97, 0.23))), url("../img/cloth.jpg") center center;
  background: linear-gradient(to right, rgba(15, 24, 33, 0.29), rgba(44, 92, 97, 0.23)), url("../img/cloth.jpg") center center;
  background-size: cover;
  background: white; }
  @media only screen and (min-width: 768px) {
    .container {
      height: 100%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0;
      padding-top: 2%; } }

.main-img {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 44px; }
  @media only screen and (min-width: 768px) {
    .main-img {
      padding: 0; } }
  @media only screen and (min-width: 1024px) {
    .main-img {
      width: 60%; } }

.main-img img,
.imgs img {
  width: 100%; }

@media only screen and (min-width: 1024px) {
  .main-img img {
    padding: 2%; } }

.imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 12px;
  padding-top: 16px; }
  @media only screen and (min-width: 1024px) {
    .imgs {
      width: 40%;
      margin: 5%; } }

@media only screen and (min-width: 768px) {
  margin: 0px 24%; }

.imgs img {
  cursor: pointer; }

/* Fade in animation */
@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn var(--fade-time) ease-in 1 forwards;
          animation: fadeIn var(--fade-time) ease-in 1 forwards; }

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 2.5px 0.52rem;
  right: 1px;
  width: 100%;
  bottom: 0;
  background: #dfe8e8; }
  @media only screen and (min-width: 768px) {
    .socialIcons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0 0.52rem;
      right: 0;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      bottom: 0;
      z-index: 0; } }

footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem); }

/* Media Queries */
/*-----X------ partials imports ------X-----*/
/*----------- @Mixins -----------*/
/*----------- Light & Dark Theme -----------*/
/*----------- @Mixins -----------*/
body {
  background: #1b2429;
  color: #ffffff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1; }

h1,
h2,
h3 {
  font-weight: 400; }

h3 {
  color: #3c360e;
  font-size: 1.05em;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase; }

h5 {
  color: #292b20;
  font-size: 1em;
  padding: 2%;
  font-weight: normal;
  text-align: left;
  font-family: "Linden Hill", serif;
  font-family: "Markazi Text", serif;
  width: 100%; }

.bottom-padding {
  padding: 1rem; }

a {
  color: #ffffff;
  text-decoration: none; }

a:link {
  width: auto; }

a:focus {
  -webkit-box-shadow: 0 0 1px 1px #3f3530;
          box-shadow: 0 0 1px 1px #3f3530;
  background-color: #bfb083; }

a:active {
  font-family: "Cormorant Unicase", serif;
  background-color: red; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%; }
  header .O {
    color: red; }
  header .H {
    color: white; }

main {
  height: auto;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    main {
      height: auto; } }
  main a {
    -webkit-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out;
    padding: 0.4rem;
    color: #292b20; }
    main a:hover {
      color: white;
      cursor: pointer; }

p {
  color: #4d4d4d;
  padding: 1%;
  padding-bottom: 1.4rem;
  width: 100%;
  margin-top: 1.1rem;
  border-radius: 0.176rem;
  line-height: 1.33rem;
  text-align: left;
  font-size: 0.89rem;
  text-align: center; }

.main-title {
  font-size: 2rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-family: "Bebas Neue", "Julius Sans", cursive;
  width: 100%;
  top: 30%;
  position: relative;
  text-align: left; }

footer {
  font-size: 0.75rem;
  position: fixed;
  bottom: 0.54rem;
  right: 1.75rem;
  text-align: right;
  padding: 1rem;
  color: #b9ae98; }

#project-index {
  height: auto;
  width: 31%;
  z-index: 99999699999;
  position: fixed;
  left: 8rem; }
  @media only screen and (min-width: 768px) {
    #project-index {
      left: 34rem; } }
  @media only screen and (min-width: 1024px) {
    #project-index {
      left: 80%;
      width: 9%; } }

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 2.5px 0.52rem;
  right: 1px;
  width: 100%;
  bottom: 0; }
  @media only screen and (min-width: 768px) {
    .social-icons {
      z-index: 0; } }
  .social-icons a {
    background: #3f3f33; }
  .social-icons .fa-2x {
    font-size: 1.53rem;
    padding: 0.2rem 0; }
    @media only screen and (min-width: 1024px) {
      .social-icons .fa-2x {
        font-size: 1.2rem; } }

/*# sourceMappingURL=main.css.map */