.about {
  padding-bottom: 0rem;
  background: white;
  .breadCrumbs {
    position: absolute;
    top: 3%;
    left: 3%;
    @include MEDIUM-DEVICE-WIDTH {
      top: 9%;
    }
    @include LARGE-DEVICE-WIDTH {
      top: 15%;
    }
  }

  &__bio-image {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @include MEDIUM-DEVICE-WIDTH {
      padding: 71px 5%;
    }
    @include LARGE-DEVICE-WIDTH {
    }

    .text-secondary {
      font-size: 1.05rem;
      font-weight: bolder;
      text-align: left;
      padding: 7px 0;
      font-family: "Turret Road", "cursive";
      font-family: "Montserrat", "cursive";
      color: $accent-color;
      display: flex;
      margin-bottom: 0;
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.27rem;
      }
    }
    p {
      color: $dark-text;
      padding: 4%;
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 1.5rem;
      border-radius: 0.176rem;
      line-height: 1.45rem;
      text-align: left;
      font-size: 0.97rem;
      box-shadow: $slim-grey;
      padding: 0.8rem;
      @include MEDIUM-DEVICE-WIDTH {
        border-radius: 0.05rem;
        line-height: 1.7rem;
        letter-spacing: 0.031rem;
        font-size: 1.03rem;
      }
      @include LARGE-DEVICE-WIDTH {
        box-shadow: none;
        display: flex;
        justify-content: center;
        padding: 2.5% 6%;
        letter-spacing: 0;
        flex-direction: column;
      }
      #more {
        display: none;
      }
      #myBtn {
        padding: 0.35em;
        border-radius: 5.4px;
        margin-top: 5px;
        font-size: 1rem;
        background: none;
        color: #8aa3ac;
        font-style: italic;
        border: none;
        @include MEDIUM-DEVICE-WIDTH {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }

  &__bio {
    width: 95%;
    text-align: center;
    @include MEDIUM-DEVICE-WIDTH {
      font-size: 1.5rem;
      width: 90%;
    }
  }
  .img-container {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    height: auto;
    // box-shadow: -6px -6px 11px rgba(184, 226, 194, 0.16),
    // 6px 6px 11px rgba(52, 170, 160, 0.16),;

    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
    }
    @include LARGE-DEVICE-WIDTH {
      border: none;
      // box-shadow: none;
      width: 77%;
    }
  }

  .jobs {
    display: flex;
    padding: 1% 4%;
    margin: 0.2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
    }

    &__bio-image {
      width: 100%;
      border-radius: 0.3rem;
      padding-top: 38vh;
      background: linear-gradient(
          to right,
          rgba(39, 39, 39, 0.02),
          rgba(39, 39, 39, 0)
        ),
        url(../img/profile.jpg) center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      box-shadow: 2px 6px 7px #67818e, 2px -4px 10px #67818e;
      @include MEDIUM-DEVICE-WIDTH {
        height: 35vh;
        background-size: cover;
        padding: 4% 6%;
      }
      @include LARGE-DEVICE-WIDTH {
        height: 55vh;
      }
      .text-secondary {
        display: flex;
        justify-content: center;
        font-family: "Montserrat", "cursive";
        width: 100%;
        display: flex;
        color: $secondary-color;
        text-transform: uppercase;
        text-align: justify;
        font-size: 0.81rem;
        margin: 0;

        @include MEDIUM-DEVICE-WIDTH {
          background: none;
          margin-bottom: 0rem;
          font-size: 1rem;
          text-align: right;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 0.7rem;
          padding: 0 6%;
        }
      }
    }
    &__job {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 0.5px solid $dark-text;
      h2,
      h3 {
        margin: 0.22rem 0;
        line-height: 1.55rem;
        font-size: 1.33rem;
        color: $dark-text;
        @include MEDIUM-DEVICE-WIDTH {
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 1.7rem;
        }
      }
      h5 {
        font-size: 1rem;
        letter-spacing: 0.02rem;
        color: $secondary-color;
        font-family: "Turret Road", "cursive";
        font-weight: normal;
        font-style: normal;
        padding: 0.15rem 0;
        padding-top: 0.045rem;
        @include LARGE-DEVICE-WIDTH {
          font-size: 1.1rem;
        }
      }
      h6 {
        margin: 0.3rem 0;
      }
    }
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.52rem;
    right: 1px;
    width: 100%;
    bottom: 0;
    background: rgba(85, 96, 105, 0.35);

    @include MEDIUM-DEVICE-WIDTH {
      flex-direction: row;
      padding: 0 0.52rem;
      right: 0;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      bottom: 0;
    }
  }
  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
