.content-wrapper {
  //styles for .content-wrapper is in the main.scss
  /* Hide scrollbar for Chrome, Safari and Opera */

  .about {
    padding-bottom: 0rem;
    padding-top: 3rem;
    background: ($WHITE);
    @include Menu-slider-bcg;
    @include SMALL-LANDSCAPE {
      @include landscape-orientation-layout;
    }
    @include MEDIUM-LANDSCAPE {
      padding: 6%;
      padding-bottom: 10px;
      height: 100vh;
    }

    &__bio-image {
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      @include SMALL-LANDSCAPE {
        margin-top: 1rem;
        background: none;
        @include box-shadow-two;
      }
      @include MEDIUM-DEVICE-WIDTH {
        height: 100%;
        padding: 4% 6%;
        background: none;
      }
      @include MEDIUM-LANDSCAPE {
        flex-direction: row;
        height: 100%;
        align-items: center;
        @include bcg-rep-grd;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 100%;
        height: 90%;
        padding: 0;
        width: 97%;
      }

      .text-secondary {
        display: flex;
        justify-content: center;
        font-family: "Montserrat", "cursive";
        width: 100%;
        display: flex;
        color: $MINI-BLACK;
        text-transform: uppercase;
        text-align: justify;
        font-size: 0.81rem;
        margin: 0;

        @include MEDIUM-DEVICE-WIDTH {
          margin-bottom: 0rem;
          font-size: 1rem;
          text-align: right;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 0.7rem;
          padding: 0 6%;
          justify-content: flex-end;
        }
      }

      // ......
      .breadCrumbs {
        position: absolute;
        top: 3%;
        left: 3%;
        @include MEDIUM-DEVICE-WIDTH {
          top: 9%;
        }
        @include LARGE-DEVICE-WIDTH {
          top: 15%;
        }
      }
    }

    // ......
    .img-container {
      border-radius: 6px;
      height: auto;
      @include LARGE-DEVICE-WIDTH {
        border: none;
        width: 50%;
      }
      .jobs__bio-image {
        width: 100%;
        @include MEDIUM-LANDSCAPE {
          width: 100%;
        }
      }
    }

    // ...............

    &__bio {
      width: 100%;
      padding: 3%;
      text-align: center;
      background: ($WHITE);
      @include MEDIUM-DEVICE-WIDTH {
        font-size: 1.5rem;
        width: 100%;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 50%;
      }
      @include XXLARGE-DEVICE-WIDTH {
        width: 50%;
      }

      .main-title {
        color: #3e0d18;
        display: none;
      }
      p {
        // styinling for 'P' is referenced main.css
        #more {
          display: none;
        }
        #myBtn {
          border-radius: 5.4px;
          margin-top: 5px;
          font-size: 0.77rem;
          background: none;
          color: ($GOLD);
          font-style: italic;
          border: none;
          cursor: pointer;
          width: auto;
          padding: 0.5rem;
          width: 40%;

          @include MEDIUM-DEVICE-WIDTH {
            display: flex;
            justify-content: flex-start;
          }
          @include LARGE-DEVICE-WIDTH {
            text-align: left;
          }
        }
      }

      h3 {
        color: ($GOLD);
        font-size: 1.5em;
        padding-top: 15px;
        text-align: left;
        font-weight: bold;
        line-height: 1.052em;
        font-family: "Roboto", "Monserrat", cursive;
      }
      h5 {
        color: #716f51;
        font-size: 1em;
        padding: 3%;
        font-weight: normal;
        text-align: left;
      }
    }

    // ..........

    .jobs {
      width: 100%;
      background-color: ($BABY-PINK);
      display: flex;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
      @include MEDIUM-DEVICE-WIDTH {
        width: 100%;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 45%;
      }
      &__bio-image {
        background: ($WHITE-005);
        height: 100%;
        width: auto;

        img {
          width: 100%;
          @include LARGE-DEVICE-WIDTH {
          }
        }
      }

      &__job {
        padding: 11px 14px;
        background: ($WHITE);
        @include MEDIUM-DEVICE-WIDTH {
          padding: 20px;
        }
        @include LARGE-DEVICE-WIDTH {
          padding: 20px 30px;
        }

        .text-secondary {
          justify-content: flex-end;
          color: #5f6157;
          font-size: 0.87em;
          font-family: "Roboto", "Juslius Sans", "cursive";
          @include LARGE-DEVICE-WIDTH {
            font-size: 1rem;
          }
        }

        h2,
        h3 {
          font-family: "DM Serif Display", serif;
          color: ($BLACK-002);
          letter-spacing: 0.02rem;
          font-size: 1.35em;
          line-height: 1.3em;
          padding-top: 5px;
          font-weight: 200;
          @include LARGE-DEVICE-WIDTH {
            font-size: 1.2rem;
            font-weight: normal;
          }
        }

        h5 {
          font-size: 0.67rem;
          font-style: normal;
          padding: 0;
          line-height: 1.24em;
          font-family: "Cinzel Decorative", cursive;
          text-transform: lowercase;
        }
        P {
          // styinling for 'P' is referenced main.css
          span {
            font-style: italic;
            font-size: 0.79rem;
            a {
              color: ($FLURO);
              cursor: pointer;
            }
            a:hover {
              color: ($GOLD);
            }
          }
        }
      }
    }
  }
}
