.about {
  padding-bottom: 0rem;
  background-color: rgba(189, 218, 255, 0.7);
  padding-top: 2rem;
  padding-bottom: 2rem;
  .breadCrumbs {
    position: absolute;
    top: 3%;
    left: 3%;
    @include MEDIUM-DEVICE-WIDTH {
      top: 9%;
    }
    @include LARGE-DEVICE-WIDTH {
      top: 15%;
    }
  }

  &__bio-image {
    width: 100%;
    background: rgba(228, 222, 30, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @include MEDIUM-DEVICE-WIDTH {
      padding: 71px 5%;
    }
    @include LARGE-DEVICE-WIDTH {
    }

    .text-secondary {
      font-size: 1.58rem;
      font-weight: bolder;
      text-align: left;
      padding-bottom: 1px;
      color: #80b727;
      display: flex;
      margin-bottom: 0;
      font-family: "Bebas Neue", "Juslius Sans", "cursive";
      font-family: "Audiowide", "Julius Sans", "Script";
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.27rem;
      }
    }
    p {
      color: #5f6558;
      padding: 1%;
      padding-bottom: 1.4rem;
      width: 100%;
      margin-top: 1.1rem;
      border-radius: 0.176rem;
      line-height: 1.5rem;
      text-align: left;
      font-size: 0.95rem;

      @include MEDIUM-DEVICE-WIDTH {
        border-radius: 0.05rem;
        line-height: 1.7rem;
        letter-spacing: 0.031rem;
        font-size: 1.03rem;
      }
      @include LARGE-DEVICE-WIDTH {
        box-shadow: none;
        display: flex;
        justify-content: center;
        padding: 2.5% 6%;
        letter-spacing: 0;
        flex-direction: column;
      }
      #more {
        display: none;
      }
      #myBtn {
        padding: 0.35em;
        border-radius: 5.4px;
        margin-top: 5px;
        font-size: 1rem;
        background: none;
        color: yellowgreen;
        font-style: italic;
        border: none;
        @include MEDIUM-DEVICE-WIDTH {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }

  &__bio {
    background-color: #fffae7;
    width: 98%;
    padding: 3%;
    text-align: center;
    @include MEDIUM-DEVICE-WIDTH {
      font-size: 1.5rem;
      width: 90%;
    }
    h3 {
      color: #80b727;
      font-size: 2em;
      padding-top: 15px;
      text-align: left;
      line-height: 1.052em;
      font-family: "Bebas Neue", "cursive";
      font-family: "Audiowide", "cursive";
      font-weight: bold;
      text-transform: uppercase;
    }
    h5 {
      color: #716f51;
      font-size: 1em;
      padding: 3%;
      font-weight: normal;
      text-align: left;
    }
  }
  .img-container {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    height: auto;
    // box-shadow: -6px -6px 11px rgba(184, 226, 194, 0.16),
    // 6px 6px 11px rgba(52, 170, 160, 0.16),;

    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
    }
    @include LARGE-DEVICE-WIDTH {
      border: none;
      // box-shadow: none;
      width: 77%;
    }
  }

  .jobs {
    width: 98%;
    background-color: #fffae7;
    display: flex;
    padding: 2%;
    margin: 0.2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
    }

    &__bio-image {
      width: 100%;
      border-radius: 0.3rem;
      padding-top: 38vh;
      background: linear-gradient(
          to right,
          rgba(39, 39, 39, 0.02),
          rgba(39, 39, 39, 0)
        ),
        url(../img/profile.jpg) center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      box-shadow: 2px 6px 7px #a2956b, 2px -4px 10px #ccc5a9;
      @include MEDIUM-DEVICE-WIDTH {
        height: 35vh;
        background-size: cover;
        padding: 4% 6%;
      }
      @include LARGE-DEVICE-WIDTH {
        height: 55vh;
      }
      .text-secondary {
        display: flex;
        justify-content: center;
        font-family: "Montserrat", "cursive";
        width: 100%;
        display: flex;
        color: $secondary-color;
        text-transform: uppercase;
        text-align: justify;
        font-size: 0.81rem;
        margin: 0;

        @include MEDIUM-DEVICE-WIDTH {
          background: none;
          margin-bottom: 0rem;
          font-size: 1rem;
          text-align: right;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 0.7rem;
          padding: 0 6%;
        }
      }
    }
    &__job {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      border-bottom: 0.5px solid #9a8f6e;
      box-shadow: 1px 11px 7px rgba(162, 158, 142, 0),
        -25px 10px 9px rgba(152, 152, 129, 0.14);
      h2,
      h3 {
        line-height: 1.62rem;
        font-size: 1.35rem;
        padding: 6px 0 0 0;
        color: #04504c;
        font-family: "Montserrat", "cursive";
        font-family: "Roboto", "Monserrat";

        @include MEDIUM-DEVICE-WIDTH {
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 1.7rem;
        }
      }
      h5 {
        font-size: 0.89rem;
        letter-spacing: 0.02rem;
        color: #5f6558;
        font-weight: normal;
        line-height: 1.1em;
        font-style: normal;
        padding-left: 1%;
        padding-top: 0.045rem;
        line-height: 1.4em;

        @include LARGE-DEVICE-WIDTH {
          font-size: 1.1rem;
        }
      }
      h6 {
        margin: 0.3rem 0;
      }
    }
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.52rem;
    right: 1px;
    width: 100%;
    bottom: 0;
    background: rgba(85, 96, 105, 0.35);

    @include MEDIUM-DEVICE-WIDTH {
      flex-direction: row;
      padding: 0 0.52rem;
      right: 0;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      bottom: 0;
    }
  }
  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
