$primary-color: #272727;
$secondary-color: #e97442;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  list-style: none;
}

@mixin transition-ease {
  transition: all 0.42s ease-in-out;
}

.showIcons {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 2rem;
  font-size: 0.7rem;
  right: 0.41rem;
  padding: 0.09rem;
}

// function

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #ffffff;
  }
}

// @mixin phone-landscape
//   @media only (device-width: 1em), screen and (orientation: landscape)
//     @content

@mixin SMALL-LANDSCAPE {
  @media only screen and (device-width: 1em),
    screen and (orientation: landscape) {
    @content;
  }
}
@mixin MEDIUM-DEVICE-WIDTH {
  @media only screen and (min-width: 481px) and (orientation: portrait) {
    @content;
  }
}
@mixin MEDIUM-LANDSCAPE {
  @media only screen and (device-width: 1024px),
    screen and (orientation: landscape) {
    @content;
  }
}
@mixin LARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 1025px) and (orientation: landscape) {
    @content;
  }
}
@mixin XLARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 1280px) and (orientation: landscape) {
    @content;
  }
}
@mixin XXLARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 2200px) {
    @content;
  }
}

// body {
//     @include flexCenter(column);
//     display: flex;
//     justify-content: center;
//     background-color: $primary-bcg-color;
//     color: $pimary-txt-color;
// }

// .main {
//     @include flexCenter(row);
//     width: 80%-40%;
//     margin: 0 auto;

//     #{&}__paragraph1 {
//         color: $primary-bcg-color;
//         font-weight: weight(bold);

//         &:hover{
//             color: rgb(36, 151, 56);
//             cursor: pointer;
//         }
//     }
//     #{&}__paragraph2 {
//         @extend .main__paragraph1;

//         &:hover {
//             color: $accent-color;
//         }
//     }

//     @include mobile {
//         flex-direction: column;
//     }
// }
