.content-wrapper {
  //styles for .content-wrapper is in the main.scss

  .contact {
    display: flex;
    height: 100vh;
    overflow: auto;
    margin-top: 3rem;
    @include Flex-Col-Cent-tween;
    background-position: top;
    @include SMALL-LANDSCAPE {
      @include Flex-flow-row-wrap;
      height: 100vh;
      margin-top: 1.5rem;
      margin-top: 2rem;
      justify-content: space-between;
      padding: 2rem;
    }
    @include MEDIUM-LANDSCAPE {
      justify-content: space-around;
      margin: 0;
    }
    @include LARGE-DEVICE-WIDTH {
      padding: 5rem 24% 0rem 14%;
      justify-content: space-between;
      border: 1px solid ($box-shadow-01);
      // @include Menu-slider-bcg;
    }

    // ........
    .img-box {
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      padding: 0;
      @include SMALL-LANDSCAPE {
        width: 40%;
      }
      @include MEDIUM-LANDSCAPE {
        width: 41%;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 50%;
      }
    }

    // .......
    .grid-container {
      @include SMALL-LANDSCAPE {
        width: 53%;
      }
      @include MEDIUM-DEVICE-WIDTH {
        padding: 0;
      }
      @include MEDIUM-LANDSCAPE {
        width: 26%;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 46%;
      }
    }

    // ......

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.26rem;
      font-size: 1.35rem;
      padding: 0;
      @include MEDIUM-DEVICE-WIDTH {
        grid-template-columns: repeat(1, 1fr);
      }
      .contact__email,
      .contact__phone,
      .contact__address,
      .contact__cv {
        font-size: 1.13rem;
        font-family: "Roboto", "Montserrat", cursive;
        color: ($GOLD);
        width: 100vw;
        text-align: left;
        letter-spacing: 0.04em;
        padding: 7px;
        padding-left: 1rem;
        @include SMALL-LANDSCAPE {
          width: auto;
          font-size: 0.88rem;
          padding: 3px;
        }
        @include MEDIUM-DEVICE-WIDTH {
          text-align: center;
        }
        .fa-download {
          color: ($GOLD) !important;
        }
      }
      // .....
      .download {
        cursor: pointer;
        color: #000000;
        z-index: 999;
        font-family: "Roboto", "Montserrat", cursive;
      }

      .text-secondary {
        color: ($BLACK-003);
        margin: 3px 0;
        font-size: 0.9rem;
        margin-top: 8px;
        @include SMALL-LANDSCAPE {
          font-size: 0.85rem;
        }
      }
      .nav .menu-nav__item:nth-child(4) {
        width: 100%;
      }
      .social-icons {
        @include LARGE-DEVICE-WIDTH {
          bottom: 0 !important;
        }
      }
    }
  }
  footer {
    h2 {
      @include SMALL-LANDSCAPE {
        text-align: center !important;
      }
      @include MEDIUM-DEVICE-WIDTH {
        text-align: center !important !important;
      }
    }
  }
}
