.contact {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $secondary-color;
  padding: 18vh 0;
  width: 100%;
  background: white;
  padding: 3rem 0 0 0;
  border: 4px solid #461a19;
  background: linear-gradient(to right, #27291e, #444438), url(../img/sunrise.jpg) center center;
  @include MEDIUM-DEVICE-WIDTH {
    padding: 25vh 0;
  }
  @include LARGE-DEVICE-WIDTH {
    padding-top: 33vh;
  }

  h2 {
    font-size: 2.26rem;
    margin-bottom: 2rem;
    font-family: "Audiowide","Montserrat", cursive;
    color: #fff0c7;
    font-weight: bolder;
    text-transform: uppercase;
    @include MEDIUM-DEVICE-WIDTH {
      margin-bottom: 3.2rem;
      font-size: 3em;
    }
    @include LARGE-DEVICE-WIDTH {
      font-weight: bold;
      letter-spacing: 0.05rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.35rem;
    @include MEDIUM-DEVICE-WIDTH {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .contact__email, .contact__phone, .contact__address {
    font-family: "Cinzel Decorative", cursive;
    color: #9d201a;
    font-weight: bold;
  }
  .social-icons {
    position: absolute;
    @include MEDIUM-DEVICE-WIDTH {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 1em 0.5em;
    }
    .fa-2x {
      font-size: 1.53rem;
      padding: 0.2rem 0;
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.2rem;
      }
    }
    @include MEDIUM-DEVICE-WIDTH {
      margin-top: 7rem;
    }
    @include LARGE-DEVICE-WIDTH {
      margin-top: 11rem;
    }
  }
  .text-secondary {
    color: #fff0c7;
    font-family: "Montserrat", "cursive";
    margin: 3px 0;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
  }
  .nav .menu-nav__item:nth-child(4){
    width: 100%;
  }
}
