* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// .................................................................
// hiding-scroll bar on overfow
// ......
* {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}
// .................................................................
// ......................
a {
  text-decoration: none;
  list-style: none;
}

// .................................................................
// function
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #ffffff;
  }
}

// .................................................................
//dynamic-transision MIXINS
// ..........
@mixin transition-ease {
  transition: all 0.42s ease-in-out;
}
// .................................................................
//BOX-SHADOWS MIXINS
// ..........
@mixin box-shadow-one {
  box-shadow: 14px 11px 3px #168e9a21, 17px 1px 5px #c9d8dc;
}
// ..........
@mixin box-shadow-two {
  box-shadow: 1px 15px 33px #168e9a21, 17px 1px 5px #c7d3d63d;
}

// .................................................................
//BACKGROUND-IMAGE SCSS MIXINS
// ...........
@mixin bcg-rep-grd {
  background: repeating-linear-gradient(45deg, #e2dbdb67, #fff0f579 100px),
    url(../img/polygon.png) center bottom;
  background-size: cover;
}
// ...........
@mixin Front-page-bcg {
  background: repeating-linear-gradient(45deg, #fdfdf887, #cee6e357 100px),
    url(../img/heart_dynamic.png) center center;
  background-size: cover;
  background-repeat: no-repeat;
}
// ...........
@mixin Menu-slider-bcg {
  background: repeating-linear-gradient(45deg, #c4e1e46e, #dde8e75e 100px),
    url(../img/storm.jpg) center bottom;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// .................................................................
//LANDSCAPE PADDING & HEIGHT MIXINS
// ...........
@mixin landscape-orientation-layout {
  height: 100%;
  overflow: auto;
  padding: 28px 5%;
  padding-bottom: 0;
}
// .................................................................
//DISPLAY FLEX - MIXINS
// ...........
@mixin Flex-Col-Cent-End {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@mixin Flex-Col-Cent-tween {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// ...........
@mixin Flex-flow-row-wrap {
  flex-flow: row;
  flex-wrap: wrap;
}
// ...........
@mixin Flex-Col-ween-end {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
// .................................................................
// MEDIA QUERIES
// ...................
@mixin SMALL-LANDSCAPE {
  @media only screen and (device-width: 1rem),
    screen and (orientation: landscape) {
    @content;
  }
}
// .................................................................
@mixin MEDIUM-DEVICE-WIDTH {
  @media only screen and (min-width: 640px) and (orientation: portrait) {
    @content;
  }
}
// .................................................................
@mixin MEDIUM-LANDSCAPE {
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    @content;
  }
}
// .................................................................
@mixin LARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 1025px) and (orientation: landscape) {
    @content;
  }
}
// .................................................................
@mixin XLARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 1280px) and (orientation: landscape) {
    @content;
  }
}
// .................................................................
@mixin XXLARGE-DEVICE-WIDTH {
  @media only screen and (min-width: 2200px) and (orientation: landscape) {
    @content;
  }
}
