:root {
  /* Set fade in duration */
  --fade-time: 0.5s;
}

main {
  @include MEDIUM-DEVICE-WIDTH{
    height: auto !important;
  }
}
.content-wrapper {
  .main-container {
    padding-top: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    padding-bottom: 0;
    overflow: auto;
    @include SMALL-LANDSCAPE {
      box-shadow: none;
      padding: 16px 10% 0 16%;
    }
    @include MEDIUM-DEVICE-WIDTH {
    }
    @include MEDIUM-LANDSCAPE {
      padding: 2%;
    }
    @include LARGE-DEVICE-WIDTH {
      margin: 0 auto;
      height: auto;
      overflow: auto;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    overflow: scroll;
    background: ($WHITE);
    @include box-shadow-blocks;
    @include SMALL-LANDSCAPE {
      border: none;
      box-shadow: none;
      padding: 1rem;
      padding: 1rem;
      background: ($WHITE);
      @include box-shadow-blocks;
    }
    @include MEDIUM-DEVICE-WIDTH {
      height: 100%;
    }
    @include MEDIUM-LANDSCAPE {
      max-width: 90%;
    }
    @include LARGE-DEVICE-WIDTH {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0;
      padding-top: 2%;
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  .main-img {
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 44px;
    @include box-shadow-blocks;
    @include MEDIUM-DEVICE-WIDTH {
      padding: 0;
    }
    @include LARGE-DEVICE-WIDTH {
      width: 55%;
      padding-top: 0;
    }
  }
  .main-img img,
  .imgs img {
    width: 100%;
  }

  .max-height {
    @include LARGE-DEVICE-WIDTH {
      // max-height: 66vh;
    }
  }
  .main-img img {
    @include SMALL-LANDSCAPE {
      width: 79%;
    }
    @include LARGE-DEVICE-WIDTH {
      padding: 2%;
      width: 100%;
    }
  }
  .imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-bottom: 12px;
    padding-top: 16px;
    padding: 6% 1%;
    @include bcg-rep-grd;
    @include LARGE-DEVICE-WIDTH {
      width: 33%;
    }
  }

  .imgs img {
    cursor: pointer;
  }

  /* Fade in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
  }
}
