:root {
  /* Set fade in duration */
  --fade-time: 0.5s;
}

main {
  @include MEDIUM-DEVICE-WIDTH{
    height: auto !important;
  }
}
.content-wrapper {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    overflow: scroll;
    background-color: #fbfbefa6;
    @include box-shadow-blocks;
    @include SMALL-LANDSCAPE {
      border: none;
      box-shadow: none;
      padding: 1rem;
      padding: 1rem;
      @include box-shadow-blocks;
    }
    @include MEDIUM-DEVICE-WIDTH {
      height: 100%;
    }
    @include MEDIUM-LANDSCAPE {
      max-width: 90%;
    }
    @include LARGE-DEVICE-WIDTH {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0;
      padding-top: 2%;
      flex-wrap: wrap;
      overflow: scroll;
    }
  }
  .main-container {
    padding-top: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    padding-bottom: 0;
    overflow: scroll;
    @include SMALL-LANDSCAPE {
      box-shadow: none;
      padding: 16px 10% 0 16%;
    }
    @include MEDIUM-DEVICE-WIDTH {
    }
    @include MEDIUM-LANDSCAPE {
      padding: 2%;
    }
    @include LARGE-DEVICE-WIDTH {
      margin: 0 auto;
      height: auto;
      overflow: auto;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
  
  .main-img {
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 44px;
    transition: all 1s;
    overflow: scroll;
    background: none;

    :hover {
      transform: scale(1.5);
      display: flex;
      justify-content: center;
      padding: 0;
      box-sizing: border-box;
      padding-top: 18px;
    }
    
    
    // @include box-shadow-blocks;
    @include MEDIUM-DEVICE-WIDTH {
      padding: 0;
      padding-top: 55px;

      :hover {
        padding-top: 88px;
      }
    }
    @include LARGE-DEVICE-WIDTH {
      width: 62%;
      padding-top: 0;
      :hover {
        width: 70%;
      }      
    }
  }
  .main-img img,
  .imgs img {
    width: 100%;
  }

  .main-img img {
    width: 100%;
    box-shadow: 4px 4px 4px rgb(223, 217, 217);
    transition: all 1s;
    :hover {
      transform: scale(3.1);
      cursor: pointer;
      width: 144%;
    }
    @include SMALL-LANDSCAPE {
      width: 79%;
    }
    @include LARGE-DEVICE-WIDTH {
      transition: all 1s;
      padding: 2%;
    }
  }
  .imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-bottom: 12px;
    padding-top: 16px;
    padding: 6% 1%;
    box-shadow: 4px 4px 4px rgb(223, 217, 217);
    transition: all 1s;

    @include LARGE-DEVICE-WIDTH {
      width: 33%;
    }
    :hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .imgs img {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgb(190, 186, 186);
    transition: all 1s;
    @include LARGE-DEVICE-WIDTH {
      :hover {
        width: 100%;
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: none;
      }
    }
    
  }

  /* Fade in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
  }
}
