// ...........

///////////////
.content-wrapper {
  .home {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-bottom: 0;
    padding-top: 2rem;
    @include Front-page-bcg;
    @include SMALL-LANDSCAPE {
      padding: 0 8%;
      padding: 28px 5.5%;
      padding-bottom: 0;
      @include Front-page-bcg;
    }
    @include MEDIUM-LANDSCAPE {
      padding: 0 16%;
    }
    p {
      font-size: 0.98rem;

      @include LARGE-DEVICE-WIDTH {
        padding: 1.82rem;
        padding-bottom: 4rem;
      }
      @include LARGE-DEVICE-WIDTH {
        padding: 4rem 9rem;
        font-size: 1.13rem;
      }
    }

    &__box-one {
      width: 100%;
      // @include header-bottom-bcg
      display: flex;
      flex-direction: column;
      justify-self: center;
      @include SMALL-LANDSCAPE {
        padding: 0 5.5rem;
      }
      @include MEDIUM-DEVICE-WIDTH {
      }
      @include LARGE-DEVICE-WIDTH {
      }

      .spear {
        width: 100%;
        align-self: center;
        width: 45%;
        margin: 0 auto;
        padding: 0.3rem 0;
      }
    }
    &__box-two {
      padding: 8px;
      padding-top: 2rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      @include trans-bcg;

      @include SMALL-LANDSCAPE {
        padding: 4rem 0 0 0;
      }
      @include MEDIUM-DEVICE-WIDTH {
        padding: 1.2rem 9rem;
        align-items: center;
      }
      @include MEDIUM-LANDSCAPE {
        padding: 1rem 9rem;
        margin-top: 2rem;
      }
      @include LARGE-DEVICE-WIDTH {
        padding: 2.3rem 0;
      }

      h3 {
        font-size: 3rem;
        line-height: 0.7em;
        text-align: center;
        font-weight: normal;
        text-transform: lowercase;
        font-family: "Cinzel Decorative", sans-serif;
        @include SMALL-LANDSCAPE {
          line-height: 2rem;
          font-size: 3rem;
        }

        @include MEDIUM-DEVICE-WIDTH {
          font-size: 5rem;
          margin-top: 1rem;
        }
        @include MEDIUM-LANDSCAPE {
          font-size: 5rem;
          line-height: 3.5rem;
        }
        @include LARGE-DEVICE-WIDTH {
          line-height: 2.63rem;
          margin-top: 1rem;
          font-size: 3rem;
        }
        span {
          font-size: 2.1rem;
          width: 100%;
          text-align: right;
        }
      }
      h3::before {
        content: "Freelance";
        font-size: 1.4rem;
        text-align: left;
        display: flex;
        padding-bottom: 0.5rem;
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 2.18rem;
        }
        @include MEDIUM-LANDSCAPE {
          font-size: 2rem;
        }
      }
      h3::after {
        content: "Omphalus Harkie Kua";
        font-size: 1.35rem;
        text-align: center;
        @include SMALL-LANDSCAPE {
          font-size: 1.04rem;
        }
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 1.8rem;
        }
        @include MEDIUM-LANDSCAPE {
          font-size: 2rem;
        }
      }

      span {
        color: #5f6d70;
        font-size: 0.69rem;
        font-weight: bold;
        text-transform: lowercase;
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 0.87rem;
          line-height: 1.2rem;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 0.89rem;
        }
      }
    }
    // ........
    &__box-three {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include LARGE-DEVICE-WIDTH {
        display: flex;
        background: none;
        justify-content: center;
        padding-bottom: 2rem;
      }

      .svg-container {
        display: flex;
        justify-content: center;
        @include shield-bcg;
        svg {
          width: 66%;
          height: auto;
          @include SMALL-LANDSCAPE {
            width: 43%;
          }
          @include MEDIUM-DEVICE-WIDTH {
            width: 38%;
          }
          @include LARGE-DEVICE-WIDTH {
            width: 35%;
          }
        }
      }
      .occ-title {
        color: ($BLACK-002);
        font-size: 1.75rem;
        line-height: 2rem;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        padding: 0 2.2rem;
        font-family: "DM Serif Display", serif;
        font-family: serif;
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 2rem;
        }
        @include MEDIUM-LANDSCAPE {
        }
        @include LARGE-DEVICE-WIDTH {
          text-align: center;
          margin: 0;
          font-size: 2.5rem;
          line-height: 2.2rem;
        }
      }
      .occ-title::before {
        content: "Web and Grapfix";
        color: black;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        border-top: 1px solid #e2e1cf;
        width: 100%;
        display: flex;
        align-self: flex-start;
      }
      .occ-title::after {
        content: "Front-end Developer";
        color: black;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        border-top: 1px solid brown;
      }
    }
  }
}

//Button click transition delay

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.07s) + 0.105s;
  }
}
