.home,
.homeMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to right, #0631408c, #103050a6),
    url(../img/heart_matrix_blue.png) center bottom;
  background: repeating-linear-gradient(45deg, #e2dbdb, #fff0f5 100px),
    url(../img/heart_matrix_blue.png) center bottom;
  background: linear-gradient(to right, #f3f5e2, #fffffffa 100px);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  padding-bottom: 3rem;
  @include SMALL-LANDSCAPE {
    padding: 0;
    flex-direction: row;
  }
  @include MEDIUM-DEVICE-WIDTH {
    justify-content: flex-start;
    padding-top: -4rem;
    border: none;
  }
  @include LARGE-DEVICE-WIDTH {
    border: 0;
    flex-direction: column;
    padding: 2rem 0 5rem 0;
    // background: repeating-linear-gradient(0deg, #e2dbdb, #fff0f5 100px),
    //   url(../img/heart_matrix_blue.png) center bottom;
    // background: repeating-radial-gradient(#fff0f5ad, #f1e6ea2e 100px);
  }

  .wrap {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 3.2rem;
    position: relative;
    @include SMALL-LANDSCAPE {
      margin-top: -13rem;
      width: 35%;
    }
    @include MEDIUM-DEVICE-WIDTH {
      height: 19%;
      margin-top: 14rem;
    }
    @include LARGE-DEVICE-WIDTH {
      height: 19%;
      margin-top: 3rem;
    }
  }
  .creativity {
    font-size: 1.1rem;
    color: #8c8989;
    text-shadow: none;
    margin-bottom: 1rem;
    @include SMALL-LANDSCAPE {
      margin-top: 4.8rem;
      font-size: 0.8rem;
    }
    @include MEDIUM-DEVICE-WIDTH {
      padding: 1rem;
      font-size: 1.8rem;
      margin-top: -2rem;
    }
    @include LARGE-DEVICE-WIDTH {
      font-size: 1.4rem;
      margin-top: -2rem;
    }
  }

  .animated_text {
    @include MEDIUM-DEVICE-WIDTH {
    }
  }
  .my_name {
    font-size: 2.4em;
    line-height: 1em;
    color: #8c8989;
    letter-spacing: 0em;
    text-shadow: none;
    text-align: center;
    text-transform: unset;
    font-family: "Roboto", "Bebas", Cursive;
    font-family: "Girassol", cursive;
    padding: 0;
    @include SMALL-LANDSCAPE {
      font-size: 1.54em;
    }
    @include MEDIUM-DEVICE-WIDTH {
      font-size: 3.8rem;
    }
    @include LARGE-DEVICE-WIDTH {
      font-size: 2.8rem;
    }
  }
  .title_txt_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;

    .title_text {
      font-size: 1.1rem;
      text-shadow: 3.28px 3.36px #e7ffc7;
      color: #8c8989;
      font-family: "Roboto", "Bebas", Cursive;
      text-transform: uppercase;
      text-shadow: none;
      padding: 0;
      @include SMALL-LANDSCAPE {
        font-size: 0.8em;
      }
      @include MEDIUM-DEVICE-WIDTH {
        font-size: 2em;
        margin-top: -2.2rem;
      }
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.1rem;
      }
    }
  }

  //svg box styling
  svg {
    height: 100%;
    @include MEDIUM-DEVICE-WIDTH {
      height: 53vh;
      width: 50%;
    }
    @include LARGE-DEVICE-WIDTH {
      width: 100%;
      height: 64vh;
      padding-top: 0;
      margin-top: -3rem;
    }
  }
  .svg-container {
    width: 68%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear,
      -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);

    @include SMALL-LANDSCAPE {
      width: 25%;
    }

    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
      height: 100%;
      margin-top: 0;
    }
    @include LARGE-DEVICE-WIDTH {
      height: 100%;
      margin-top: 3.4rem;
    }

    // #bottomBTN,
    // #leftBTN,
    // #rightBTN,
    // #topBTN{
    //   visibility: hidden;
    //   &.open {
    //     visibility: visible;
    //   }
    // }

    #navy_theme {
      animation: flower 10s infinite linear alternate;
      transform-origin: center;
      transform-box: fill-box;
    }

    @keyframes flower {
      from {
        transform: rotateZ(-4deg);
      }
      to {
        transform: rotateZ(4deg);
      }
    }

    #leters {
      animation: yellow_ring 8.5s infinite linear alternate-reverse;
      transform-origin: center;
      transform-box: fill-box;
    }
    @keyframes yellow_ring {
      from {
        transform: rotateZ(-30deg);
      }
      to {
        transform: rotateZ(25deg);
      }
    }

    #semi_red {
      animation: ring2 11s infinite linear alternate;
      transform-origin: center;
      transform-box: fill-box;
    }

    @keyframes ring2 {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(94deg);
      }
    }
  }

  .fit-picture {
    // background: url(../img/svg_logo.svg) no-repeat center center;
    width: 59%;
    @include LARGE-DEVICE-WIDTH {
      width: 20%;
      height: 300px;
      opacity: 0.6;
    }
  }

  h2 {
    text-transform: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 10%;
    color: $secondary-color;
    font-family: "Girassol", cursive;
    letter-spacing: 0.03em;
    letter-spacing: 0;
    text-shadow: 0.5px 1.36px #54849a;
    @include MEDIUM-DEVICE-WIDTH {
      font-size: 1.3rem;
    }
    @include LARGE-DEVICE-WIDTH {
      font-size: 1.1rem;
      letter-spacing: 0;
    }
  }

  //Button click transition delay

  @for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.07s) + 0.105s;
    }
  }

  // transition deday for panels

  // #topBTN{
  //   transition-delay: 0.12s;
  //   transition-timing-function: ease-in-out;
  // }
  // #leftBTN{
  //   transition-delay: 0.24s;
  //   transition-timing-function: ease-in-out;
  // }
  // #rightBTN {
  //   transition-delay: 0.36s;
  //   transition-timing-function: ease-in-out;
  // }

  // #bottomBTN {
  //   transition-delay: 0.45s;
  //   transition-timing-function: ease-in-out;
  // }

  // #contactButton {
  //   transform: translateX(20px);
  //   transition-timing-function: ease-in-out;

  //   background-color: rgb(68, 109, 15);
  // }

  .projects__item3 {
    width: auto;
    overflow: hidden;
    max-height: none;
    @include LARGE-DEVICE-WIDTH {
      width: 42%;
    }
    .project__title {
      color: #22333a;
    }
  }
  .block {
    background: linear-gradient(
      to right,
      rgba(241, 248, 255, 0.29),
      rgba(184, 248, 255, 0.23)
    );
  }
}
.social-icons {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: center;
  width: 100%;
  background: #283546;

  @include LARGE-DEVICE-WIDTH {
    flex-direction: row;
    width: auto;
    left: 0;
    height: 100%;
    padding: 1rem 0.5rem;
    height: 100%;
  }
  .fa-2x {
    font-size: 1.4em;
  }
}
footer {
  font-size: 0.6rem !important;
  color: #6c7377 !important;
  @include SMALL-LANDSCAPE {
    right: 2rem !important;
  }
}
