// Bread-crumb animation

#project-index {
  animation: breadCrumb 8s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes breadCrumb {
  from {
    transform: rotateZ(-6deg);
  }
  to {
    transform: rotateZ(6deg);
  }
}

.menu-btn {
  position: fixed;
  left: 2%;
  top: 17px;
  width: 50%;
  height: 0px;
  background: #ffffff;
  transition: all 0.42s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  @include MEDIUM-DEVICE-WIDTH {
    // visibility: hidden;
  }

  &__burger {
    position: absolute;
    left: 1em;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #776f6f;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #776f6f;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: #776f6f;
      @include transition-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        color: #138d1b;
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
  &__logo {
    color: #ffb443;
    margin-top: 3px;
    font-size: 1.15em;
    font-weight: bold;
    font-family: "Cinzel Decorative", cursive;
    font-family: "Charmonman", serif;
    background: linear-gradient(to right, #ffffff, #ffff94);
  }
}

.nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 48px;
  background: repeating-linear-gradient(45deg, #e2dbdb, #f3f4ea 100px);
  box-shadow: 0px 2px 1px rgba(157, 32, 26, 0.127),
    0px -3px 1px rgba(99, 11, 6, 0.244);
  @include MEDIUM-DEVICE-WIDTH {
    height: 65px;
  }

  &.open {
    visibility: visible;
    padding: 0px;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 2rem;
    transform: translateY(-100%);
    background-color: #3e0d18;
    @include transition-ease;
    background: white;
    @include MEDIUM-DEVICE-WIDTH {
      display: block;
      transform: translateY(0);
      height: 100%;
      text-align: center;
      padding-right: 0;
      padding: 2rem 0;
      background: #3e0d18;
    }

    &.open {
      transform: translateY(0);
      align-items: flex-end;
      justify-content: space-around;
      border: 4px solid #ffd9d7;
      flex-direction: column;
      align-items: center;
      padding: 36px;
      padding-top: 51px;
      height: 100vh;
      z-index: 10;
      background: #e1e4e6;
      @include SMALL-LANDSCAPE {
        flex-direction: row;
        flex-wrap: nowrap;
      }
      @include MEDIUM-DEVICE-WIDTH {
        display: flex;
        width: 70%;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 8rem 0;
        box-shadow: 1rem 0px 50px #aaada0;
      }
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease;
      width: auto;
      @include MEDIUM-DEVICE-WIDTH {
        display: inline;
        padding: 0.5rem;
      }

      &.open {
        transform: translate(0);
      }

      &.active > a {
        color: rgb(95, 80, 80);
        border-bottom: 2px solid #fcd603;
        font-family: "Roboto", "sans-serif", "Montserrat", "Cursive";
        font-family: "Cormorant Unicase", serif;
        border: none;
        background: none;
        box-shadow: none;
        font-size: 1.42rem;
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 1em;
        }
      }
      a {
        width: 100%;
        font-family: "Cormorant Unicase", serif;
        padding: 10px;
        margin: 0.5rem 0;
        padding: 1.2rem;
        letter-spacing: 0.2rem;
        @include MEDIUM-DEVICE-WIDTH {
          width: auto;
          padding: 8px;
          margin: 0 auto;
        }
      }
      &.active > a:hover {
        &:active {
          font-family: "Cormorant Unicase", serif;
        }
      }
      #topLink:hover {
        &:active {
          background-color: red;
        }
      }
    }

    &__link {
      width: 100%;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
      text-shadow: none;
      text-transform: uppercase;
      text-align: center;
      padding: 0.47em 0.5em;
      padding-left: 0;
      margin: 3px 0;
      border-radius: 0.28rem;
      letter-spacing: 0.084em;
      color: #637d8b;
      border: 1px solid #a9bdc0;
      width: 100%;
      background-color: #f3f0d8;
      font-family: "Cormorant Unicase", serif;

      &:active {
        font-family: "Cormorant Unicase", serif;
        border: none;
        background-color: none;
        box-shadow: none;
      }
      &:focus {
        box-shadow: 0 0 1px 1px rgb(63, 53, 48);
        background-color: #bfb083;
      }

      @include transition-ease;
      @include MEDIUM-DEVICE-WIDTH {
        padding: 0.8rem 0;
        font-size: 1.24rem;
        width: 121px;
        margin: auto;
      }
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.032rem;
        letter-spacing: 0.1rem;
        width: 140px;
      }

      &:hover {
        cursor: pointer;
        color: #414c57;
        font-weight: bold;
        box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9;
      }
    }
  }

  .my_name {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1.9em;
    font-weight: normal;
    line-height: 1em;
    color: #353535;
    letter-spacing: 0em;
    text-shadow: none;
    text-align: center;
    padding: 0;
    @include MEDIUM-DEVICE-WIDTH {
      font-size: 2.9em;
    }
  }

  .svg-container {
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: -1rem;
    justify-content: space-around;
    transform: 1.2s cubic-bezier(0.7, 0, 0.3, 1), opacity 1s linear,
      -webkit-transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);
    @include SMALL-LANDSCAPE {
      width: 85%;
    }
    @include MEDIUM-DEVICE-WIDTH {
      width: 100%;
      padding-top: 0;
      height: 92vh;
    }
    @include LARGE-DEVICE-WIDTH {
      height: 100vh;
    }
    svg {
      width: 100%;
      height: 100%;
      @include MEDIUM-DEVICE-WIDTH {
        width: 74%;
        height: 71vh;
      }
    }
  }

  .title_txt_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .title_text {
      font-size: 1.2rem;
      font-family: "Poiret One", cursive;
      font-family: "Audiowide", cursive;
      font-family: "Cormorant Unicase", serif;
      text-shadow: 3.28px 3.36px #e7ffc7;
      color: #353535;
      text-shadow: none;
      padding: 0;
      @include MEDIUM-DEVICE-WIDTH {
        font-size: 2rem;
        margin: 0;
      }
    }
  }

  //spinnning logo wheel

  #leters {
    animation: yellow_ring 4.5s infinite linear alternate-reverse;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes yellow_ring {
    from {
      transform: rotateZ(-50deg);
    }
    to {
      transform: rotateZ(25deg);
    }
  }

  #semi_red {
    animation: ring2 8.5s infinite linear alternate-reverse;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes ring2 {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  //the speed or motion rate each item gets pushed out to show

  //the speed or motion rate each item gets pushed out to show
  @for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.07s) + 0.105s;
    }
  }
}
