// header {
//   display: none;
//   @include MEDIUM-DEVICE-WIDTH {
//     display: block;
//   }
// }



.menu-btn {
  position: absolute;
  left: 2%;
  top: 0.5rem;
  width: 40%;
  height: 0px;
  background: #ffffff;
  transition: all 0.42s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  @include MEDIUM-DEVICE-WIDTH {
    visibility: hidden;
  }
  

  &__burger {
    position: absolute;
    left: 1em;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: ($primary-color);
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: ($primary-color);
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: ($primary-color);
      @include transition-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
  &__logo {
    color: $accent-color;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Audiowide", "Montserrat", "cursive";
  }
  .dezines {
    color: $dark-text;
  }
}

.nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 35px;
  background-color: #f3f0d8;
  opacity: 0.98;
  box-shadow: 0px 2px 13px rgba(179, 173, 112, 0.54),
    0px -3px 4px rgba(228, 204, 94, 0.71);
  @include MEDIUM-DEVICE-WIDTH {
    visibility: visible;
    height: auto;
  }

  &.open {
    visibility: visible;
    padding: 45px 0px;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 2rem;
    transform: translateY(-100%);
    @include transition-ease;
    background: white;
    @include MEDIUM-DEVICE-WIDTH {
      display: block;
      transform: translateY(0);
      height: 100%;
      text-align: center;
      padding-right: 0;
      padding: 0.32rem 0;
    }

    &.open {
      transform: translateY(0);
      background-color: #f3f0d8;
      align-items: flex-end;
      justify-content: space-around;
      padding: 35px;
      flex-direction: row;
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease;
      width: auto;
      @include MEDIUM-DEVICE-WIDTH {
        display: inline;
        padding: 0.5rem;
      }

      &.open {
        transform: translate(0);
      }

      &.active > a {
        color: rgb(95, 80, 80);
        border-bottom: 2px solid #fcd603;
        font-family: "Roboto", "sans-serif", "Montserrat", "Cursive";
        font-family: "Cormorant Unicase", serif;
        border: none;
        background: none;
        box-shadow: none;
        font-size: 1.42rem;
        @include MEDIUM-DEVICE-WIDTH {
          font-size: 1em;
        }
      }
      a {
        width: 100%;
        font-family: "Cormorant Unicase", serif;
        padding: 10px;
        margin: 0.5rem 0;
        padding: 1.2rem;
        letter-spacing: 0.2rem;
        @include MEDIUM-DEVICE-WIDTH {
          width: auto;
          padding: 8px;
          margin: 0 auto;
        }
      }
      &.active > a:hover {
        &:active {
          font-family: "Cormorant Unicase", serif;
        }
      }
    }

    &__link {
      width: 100%;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
      text-shadow: none;
      text-transform: uppercase;
      text-align: center;
      padding: 0.47em 0.5em;
      padding-left: 0;
      margin: 3px 0;
      border-radius: 0.28rem;
      letter-spacing: 0.084em;
      color: $dark-text;
      color: #637d8b;
      border: 1px solid #a9bdc0;
      width: 100%;
      background-color: #f3f0d8;
      font-family: "Cormorant Unicase", serif;
      &:active {
        font-family: "Cormorant Unicase", serif;
        border: none;
        background-color: none;
        box-shadow: none;
      }
      &:focus {
        box-shadow: 0 0 1px 1px rgb(63, 53, 48);
        background-color: #bfb083;
      }

      @include transition-ease;
      @include MEDIUM-DEVICE-WIDTH {
        padding: 0.8rem 0;
        font-size: 1.24rem;
        width: 121px;
        margin: auto;
      }
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.032rem;
        letter-spacing: 0.1rem;
        width: 140px;
      }

      &:hover {
        cursor: pointer;
        color: #414c57;
        font-weight: bold;
        box-shadow: 0px 2px 2px #fcd603, 0px -2px 2px #f4f7f9;
      }
    }
  }
}

//the speed or motion rate each item gets pushed out to show

//the speed or motion rate each item gets pushed out to show
@for $i from 1 through 5 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.07s) + 0.105s;
  }
}
