// ........
.content-wrapper {
  //styles for .content-wrapper is in the main.scss
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    overflow: auto;
    background: snow;

    @include SMALL-LANDSCAPE {
      padding: 33px 9%;
      background-size: contain;
      background-repeat: repeat;
    }
    @include MEDIUM-DEVICE-WIDTH {
      box-shadow: 10px 13px 12px #c1c1c18f, 32px -10px 128px #ececec;
      justify-content: center;
      margin: 2rem;
      margin-top: 6rem;
    }
    @include LARGE-DEVICE-WIDTH {
      box-shadow: 10px 13px 12px #c1c1c18f, 32px -10px 128px #ececec;
      padding: 2rem;
      margin: 2rem;
      margin-top: 5rem;

    }
    .block {
      padding: 0.5rem;
      padding-top: 13px;
      @include LARGE-DEVICE-WIDTH {
        padding: 0;
      }
    }

    &__bio-image {
      width: 100%;
      padding-top: 10vh;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding-left: 1rem;

      @include MEDIUM-DEVICE-WIDTH {
        padding: 3rem;
        margin-top: 1rem;
      }
      @include LARGE-DEVICE-WIDTH {
        margin: 0 auto;
        padding-top: 1rem;
      }
      .text-secondary {
        font-family: "Roboto", "Monserrat", cursive;
        text-transform: uppercase;
        font-size: 1.43rem;
        margin-bottom: 0.862rem;
        color: #4a4d50;
        font-weight: bold;
        width: 100%;
        top: 30%;
        position: relative;

        @include MEDIUM-DEVICE-WIDTH {
          font-size: 1.7rem;
          position: initial;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 2rem;
          top: 18%;
        }
      }
      h3 {
        font-family: "Roboto", sans-serif;
        @include LARGE-DEVICE-WIDTH  {
          font-size: 1.4rem;
        }
      }
      h5 {
        font-size: 1em;
        line-height: 1.43em;
        font-family: "roboto";
        @include LARGE-DEVICE-WIDTH {
          padding: 0.5rem 0;
        }
      }
      p {
        text-align: left;
      }

      .main-title {
        color: #3e0d18;
        @include MEDIUM-DEVICE-WIDTH {
          top: 1rem;
        }
      }
    }

    &__items {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      z-index: 0;

      @include SMALL-LANDSCAPE {
        grid-template-columns: repeat(3, 1fr);
      }
      @include MEDIUM-DEVICE-WIDTH {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
      @include LARGE-DEVICE-WIDTH {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
      }
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 0;
      padding-top: 1rem;
      border-radius: 0.2rem;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background: #f2f3eb;
      box-shadow: #999a8e33 6px 6px 8px, #3f403408 -1px -1px 2px;
      z-index: 3;
      @include MEDIUM-DEVICE-WIDTH {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 100%;
      }

      h3 {
        font-family: "Roboto";
        font-size: 1.4rem;
        font-weight: normal;
        @include SMALL-LANDSCAPE {
          font-size: 0.85rem;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 1rem;
          padding-bottom: 1rem;
        }
      }

      .project__title {
        display: flex;
        justify-content: center;
        padding: 0.34rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.65rem;
        letter-spacing: 0.1rem;
        color: #4f575a;
        width: 55%;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-family: "Turret Road", "cursive";
        @include LARGE-DEVICE-WIDTH {
          font-size: 1.3rem;
        }
      }

      img {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: $secondary-color;
        background: rgba(24, 29, 42, 0.8);
        opacity: 1;
        @include transition-ease;
      }

      &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
        }
        .projects__btn {
          opacity: 1;
        }
      }
    }

    &__btns {
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
    }
    a:link {
      border: none;
      padding: 9px;
      border-radius: 3px;
      z-index: 1;
    }

    &__btn {
      opacity: 0;
      color: set-text-color(white);

      @include transition-ease;

      &:hover {
        color: set-text-color(set-text-color(#d2dde6));
        font-size: 1.3rem;
      }
      .fas {
        color: #e6f6f9;
      }
      .fab {
        color: whitesmoke;
      }
    }

    .block {
      width: 100%;
    }
  }
}
