.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2rem;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 254, 236)),
    url(../img/cloth.jpg) center center;
  background-size: cover;

  @include MEDIUM-DEVICE-WIDTH {
    padding-bottom: 0;
    height: 100%;
  }
  @include LARGE-DEVICE-WIDTH {
    padding-bottom: 2rem;
  }

  &__bio-image {
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 1rem;

    @include MEDIUM-DEVICE-WIDTH {
      height: 100%;
      padding-top: 0;
      margin-top: 12%;
    }
    @include LARGE-DEVICE-WIDTH {
      height: 42vh;
      margin: 0 auto;
    }
    .text-secondary {
      font-family: "Roboto", "Monserrat", cursive;
      text-transform: uppercase;
      font-size: 1.43rem;
      margin-bottom: 0.862rem;
      color: #4a4d50;
      font-weight: bold;
      width: 100%;
      top: 30%;
      position: relative;

      @include MEDIUM-DEVICE-WIDTH {
        font-size: 1.7rem;
        position: initial;
      }
      @include LARGE-DEVICE-WIDTH {
        font-size: 2rem;
        top: 18%;
      }
    }
    h5 {
      font-size: 1em;
      line-height: 1.43em;
      font-family: "roboto";
    }
    p {
      text-align: left;
    }
  }

  &__items {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    // background: linear-gradient(
    //   to right,
    //   rgba(15, 24, 33, 0.29),
    //   rgba(44, 92, 97, 0.23)
    // );
    // url("../img/model-1.png") center center;
    z-index: 0;
    background-size: cover;
    @include MEDIUM-DEVICE-WIDTH {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
      grid-gap: 1rem;
    }
    @include LARGE-DEVICE-WIDTH {
      grid-template-columns: repeat(3, 1fr);
      height: auto;
    }
  }

  &__item1,
  &__item2,
  &__item3,
  &__item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 40vh;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    border-radius: 0.2rem;
    position: relative;
    border: 0.5px solid #d2dde6;
    overflow: hidden;
    cursor: pointer;
    box-shadow: #e2e1dfe0 6px 6px 8px, #f3f3cf70 -1px -1px 2px;
    z-index: 3;

    @include MEDIUM-DEVICE-WIDTH {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .project__title {
      display: flex;
      justify-content: center;
      padding: 0.34rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.65rem;
      letter-spacing: 0.1rem;
      color: #4f575a;
      width: 55%;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-family: "Turret Road", "cursive";
      @include LARGE-DEVICE-WIDTH {
        font-size: 1.3rem;
      }
    }

    img {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      background: rgba(24, 29, 42, 0.8);
      opacity: 1;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
        visibility: hidden;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__item1 {
  }

  &__btns {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  a:link {
    background-color: #f25c2e;
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 3px;
    z-index: 1;
  }

  &__btn {
    opacity: 0;
    color: set-text-color(white);

    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color(#d2dde6));
      font-size: 1.3rem;
    }
    .fas {
      color: #e6f6f9;
    }
    .fab {
      color: whitesmoke;
    }
  }
  .socialIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    right: 1px;
    bottom: 0;
    background: rgba(85, 96, 105, 0.35);

    @include MEDIUM-DEVICE-WIDTH {
      flex-direction: row;
      padding: 0 0.52rem;
      right: 0;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      bottom: 0;
    }
    @include LARGE-DEVICE-WIDTH {
      background: none;
    }
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
  .block {
    width: 100%;
    @include MEDIUM-DEVICE-WIDTH {
      width: 50%;
    }
    @include LARGE-DEVICE-WIDTH {
      width: 22%;
    }
  }
  .fa-2x {
    @include LARGE-DEVICE-WIDTH {
      font-size: 1em;
    }
  }
}
