// ........
.content-wrapper {
  //styles for .content-wrapper is in the main.scss
  .projects {
    display: flex;
    @include Flex-Col-ween-end;
    height: 100%;
    overflow: auto;
    background: ($trans-white);
    @include Front-page-bcg;
    @include SMALL-LANDSCAPE {
      @include landscape-orientation-layout;
      @include Front-page-bcg;
    }
    @include MEDIUM-DEVICE-WIDTH {
      @include box-shadow-blocks;
      justify-content: center;
      padding-top: 8.4rem;
    }
    @include MEDIUM-LANDSCAPE {
      justify-content: space-around;
    }
    @include LARGE-DEVICE-WIDTH {
      padding: 0;
      margin: 4rem 8rem;
      background: none;
      box-shadow: none;
    }
    .block {
      padding: 0;
      padding-top: 13px;
      @include SMALL-LANDSCAPE {
        padding: 0;
      }
    }

    &__bio-image {
      width: 100%;
      flex-direction: column;
      padding: 4rem 3rem 2rem 1rem;
      @include SMALL-LANDSCAPE {
        padding-top: 3rem;
      }
      @include MEDIUM-DEVICE-WIDTH {
        padding-top: 3rem;
      }
      @include LARGE-DEVICE-WIDTH {
        margin: 0 auto;
        padding-top: 4rem;
      }
      .text-secondary {
        font-family: "Roboto", "Monserrat", cursive;
        text-transform: uppercase;
        font-size: 1.43rem;
        margin-bottom: 0.862rem;
        color: ($BLACK-002);
        font-weight: bold;
        width: 100%;
        top: 30%;
        position: relative;

        @include MEDIUM-DEVICE-WIDTH {
          font-size: 1.7rem;
          position: initial;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 2rem;
          top: 18%;
        }
      }
      h3 {
        font-family: "Roboto", sans-serif;
        @include LARGE-DEVICE-WIDTH {
          font-size: 1.4rem;
        }
      }
      h5 {
        font-size: 1em;
        line-height: 1.43em;
        font-family: "roboto";
        padding: 0;
        @include LARGE-DEVICE-WIDTH {
          padding: 0.5rem 0;
        }
      }
    }

    &__items {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      z-index: 0;

      @include SMALL-LANDSCAPE {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
      @include MEDIUM-DEVICE-WIDTH {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
      @include LARGE-DEVICE-WIDTH {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
      }
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4,
    &__item5 {
      position: relative;
      overflow: hidden;
      z-index: 3;
      padding: 1rem 0 0 0;
      border-radius: 0.2rem;
      cursor: pointer;
      padding: 0.5rem;
      background: ($WHITE);
      // @include trans-project-bcg;
      @include box-shadow-blocks;
      @include MEDIUM-DEVICE-WIDTH {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 100%;
      }

      h3 {
        font-family: "Cinzel Decorative", serif;
        font-weight: normal;
        text-transform: lowercase;
        font-size: 1.2rem;
        text-align: center;
        @include SMALL-LANDSCAPE {
          font-size: 0.8rem;
          padding-bottom: 1rem;
        }
        @include LARGE-DEVICE-WIDTH {
          font-size: 1rem;
          padding-bottom: 1rem;
        }
      }

      img {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: ($box-shadow-01);
        opacity: 1;
        @include transition-ease;
      }

      &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
        }
        .projects__btn {
          opacity: 1;
        }
      }
    }

    &__btns {
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
      @include SMALL-LANDSCAPE {
        grid-gap: 0;
        width: 95%;
      }
    }
    a:link {
      border: none;
      padding: 9px;
      border-radius: 3px;
      z-index: 1;
      @include SMALL-LANDSCAPE {
        padding: 0;
      }
      @include LARGE-DEVICE-WIDTH {
        width: 90%;
      }
    }

    &__btn {
      opacity: 0;
      color: set-text-color($BLACK-002);

      @include transition-ease;

      &:hover {
        color: set-text-color(set-text-color($WHITE-005));
        font-size: 1.3rem;
      }
      .fas,
      .fab {
        color: ($FLURO);
        font-size: 0.88rem;
        background: ($WHITE);
        padding: 13px;
        @include box-shadow-two;
        padding: 4px;
        width: 100%;
      }
    }

    .block {
      width: 100%;
    }
  }
  .socieal-icons{
    @include SMALL-LANDSCAPE {
      flex-direction: row;
      justify-content: center;
      overflow: auto;
      justify-content: space-around;
      border-radius: 4px;
      padding: 7px 14rem;
      @include MEDIUM-LANDSCAPE {
        height: 78%;
        justify-content: space-between;

      }
    }
  }
}
