//DARK THEME

$primary-bcg-color: #1b2429;
$pimary-txt-color: rgb(32, 32, 32);
$accent-color: #e8fff7;
$secondary-color: #6adfb6;
// $secondary-color: #caffed;
$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 900
);

$mobile: 800px;

