
// ..............
// COLOR-THEME **CURRENTLY USED ON BODY

$GOLD: #848267;
$WHITE: #ffffff;
$trans-white: #ffffff7d;
$WHITE-005: #fafbf5;
$BABY-PINK: #f9f3f3;
$BABY-GREEN-01: #f7f5e9;
$BBY-YELLOW: #fafdf0;
$SILK: #f3efde;
$GRAY-01: #fafaf8;
$GRAY-02: #f2f3eb;
$box-shadow-01: #d2dcd7a1;
$box-shadow-02: #d2dcd7c4;
$BLACK-002: #292b20;
$BLACK-003: #2a2b24;
$FLURO: #45b393;
$MINT: #63afa5;
$MINI-BLACK: #838481;


