//DARK THEME

$primary-bcg-color: #1b2429;
$dark-text: #1f2429;
$accent-color: #daa520;
$secondary-color: #93a7a9;
$slim-grey: 0px 14px 14px rgba(245, 245, 245, 0.7), 4px 4px 8px rgba(36, 68, 66, 0.17);
$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 900
);

$mobile: 800px;
