
/*----------- partials imports -----------*/

@import "./config";
@import "./variables";
@import "./home";
@import "./menu";
@import "./about";
@import "./projects";
@import "./contact";
@import "./gallery";

// default auto fallback styles for elements
//..............................



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h3 {
  color: #3c360e;
  font-size: 1.05em;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
}
h5 {
  color: ($BLACK-002);
  font-size: 1em;
  padding: 2%;
  font-weight: normal;
  text-align: left;
  width: 100%;
}


// ........
// Remove blue border in chrom
button {
  outline: 0;
  :focus {
    outline: 0;
  }
}

// .............

a {
  text-decoration: none;
}
a:link {
  width: auto;
  
}
a:focus {
  box-shadow: 0 0 1px 1px rgb(63, 53, 48);
  background-color: #bfb083;
}
a:active {
  font-family: "Cormorant Unicase", serif;
  background-color: rgb(158, 137, 104);
}

// ........
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
  .O {
    color: red;
    font-family: "Cinzel Decorative", sans-serif;
  }
  .H {
    color: #f37a58;
    font-family: "Cinzel Decorative", sans-serif;
  }
}

//////////////////////////////////////////////
// .................................................................
// ......
* {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}
// .................................................................
// ......................
a {
  text-decoration: none;
  list-style: none;
}

// .....................
main {
  display: flex;
  height: auto;
  width: 100%;
  overflow: auto;
  @include Front-page-bcg;
  @include MEDIUM-DEVICE-WIDTH {
    height: 100vh;
  }

  a {
    @include transition-ease;
    padding: 0.4rem;
    color: ($BLACK-002);

    &:hover {
      color: ($WHITE);
      cursor: pointer;
    }
  }
}

//........................
.content-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1% 0 0 0;
  overflow: hidden;
  @include SMALL-LANDSCAPE {
    padding-top: 1rem;
    @include Front-page-bcg;
    height: auto;
  }
  @include MEDIUM-DEVICE-WIDTH {
    margin-top: 1rem;
    height: auto;

  }
}

// ..................
p {
  color: #4d4d4d;
  padding: 1.2%;
  padding-bottom: 1.7rem;
  width: 100%;
  margin: 0;
  border-radius: 0.176rem;
  font-size: 0.92em;
  line-height: 1.5em;
  text-align: left;
  padding: 1rem;
  background: ($WHITE);
  @include SMALL-LANDSCAPE {
    font-size: 0.86em;
  }
  @include MEDIUM-DEVICE-WIDTH {
    border-radius: 0.05rem;
    line-height: 1.7rem;
    letter-spacing: 0.031rem;
    font-size: 1.03rem;
    padding: 1rem 3rem;
  }
  @include MEDIUM-LANDSCAPE {
    font-size: 0.93rem;
    padding: 1rem 2rem;
  }
  @include LARGE-DEVICE-WIDTH {
    box-shadow: none;
    display: flex;
    justify-content: center;
    padding: 2.5% 6% 2.5% 0;
    letter-spacing: 0;
    flex-direction: column;
  }
}

// ....................
footer {
  flex-direction: column;
  background: ($BABY-GREEN-01);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  @include header-bottom-bcg;
  @include SMALL-LANDSCAPE {
    flex-direction: row;
    padding: 1.1rem;
    width: 100%;
  }
  @include MEDIUM-DEVICE-WIDTH {
    flex-direction: row;
    position: fixed;
    width: 100%;
  }
  @include MEDIUM-LANDSCAPE {
    width: 100%;
  }
  @include LARGE-DEVICE-WIDTH {
    padding: 1rem 10rem;
  }

  h2 {
    font-family: "Cinzel Decorative", cursive;
    width: 100%;
    font-size: 1.15rem;
    text-align: center;
    font-weight: normal;
    color: ($GOLD);
    padding: 0.6rem;
    @include SMALL-LANDSCAPE {
      text-align: left;
      font-size: 1rem;
    }
    @include MEDIUM-DEVICE-WIDTH {
      text-align: left;
    }
    @include LARGE-DEVICE-WIDTH {
      font-size: 1.3rem;
      padding: 0.5rem;
    }
  }
  p {
    text-align: center;
    padding: 0.3rem;
  }
}

// ...................................
//social icons links
.social-icons {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 0;
  background: ($WHITE);
  padding: 0.25rem;
  justify-content: center;
  @include SMALL-LANDSCAPE {
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    justify-content: space-around;
    border-radius: 4px;
    padding: 7px 14rem;
  }
  @include MEDIUM-LANDSCAPE {
    position: fixed;
    flex-direction: column;
    top: 16%;
    left: 0;
    width: auto;
    padding: 0.3rem;
  }
  @include LARGE-DEVICE-WIDTH {
    left: 1rem;
    bottom: 10%;
    background: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 22%;
  }

  .fa-2x {
    font-size: 1.25em;
    @include SMALL-LANDSCAPE {
      font-size: 1.15rem;
    }
  }
}

// ..................
.main-title {
  font-size: 2rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  width: 100%;
  top: 30%;
  position: relative;
  text-align: left;
}

.fa-2x {
  font-size: 1.23rem;
  padding: 0.2rem 0;
  @include SMALL-LANDSCAPE {
    font-size: 1em;
  }
  @include LARGE-DEVICE-WIDTH {
    font-size: 1.2rem;
  }
}
