/*--------------Google fonts impors--------------*/

/*----------- partials imports -----------*/

@import "./config";
@import "./variables";
@import "./home";
@import "./menu";
@import "./about";
@import "./projects";
@import "./contact";
@import "./gallery";

/*-----X------ partials imports ------X-----*/

/*----------- @Mixins -----------*/

@mixin flexCenter($direction) {
  display: flex;
  justify-content: content;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-bcg-color, 100%);
    color: darken($primary-txt-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/*----------- Light & Dark Theme -----------*/

.light {
  @include theme($light-theme: false);
}

/*----------- @Mixins -----------*/

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h3 {
  color: #3c360e;
  font-size: 1.05em;
  text-align: left;
  font-weight: bold;
  line-height: 1.2em;
}
h5 {
  color: #292b20;
  font-size: 1em;
  padding: 2%;
  font-weight: normal;
  text-align: left;
  font-family: "Linden Hill", serif;
  font-family: "Markazi Text", serif;
  width: 100%;
}

// ........
.bottom-padding {
  padding: 1rem;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}
a:link {
  width: auto;
}
a:focus {
  box-shadow: 0 0 1px 1px rgb(63, 53, 48);
  background-color: #bfb083;
}
a:active {
  font-family: "Cormorant Unicase", serif;
  background-color: red;
}

// ........
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
  .O {
    color: red;
  }
  .H {
    color: #f37a58;
  }
}

// ........
main {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: #f2f3eb;
  @include MEDIUM-DEVICE-WIDTH {
  }
  a {
    @include transition-ease;
    padding: 0.4rem;
    color: #292b20;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.content-wrapper {
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 3% 0;
  @include SMALL-LANDSCAPE {
    height: 100%;
    padding: 0;
  }
  @include SMALL-LANDSCAPE {
    padding-top: 1rem;
  
  }
  @include MEDIUM-DEVICE-WIDTH {
    padding-top: 2rem;
  }
  @include LARGE-DEVICE-WIDTH {
    padding: 0 12%;
    height: 100%;
  }
}

// ..................
p {
  color: #4d4d4d;
  padding: 1%;
  padding-bottom: 1.4rem;
  width: 100%;
  margin-top: 1.1rem;
  border-radius: 0.176rem;
  line-height: 1.33rem;
  text-align: left;
  font-size: 0.89rem;
  text-align: center;
}

// ........
footer {
  flex-direction: column;
  background: #f2f3eb;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  @include SMALL-LANDSCAPE {
    flex-direction: row;
    padding: 1.1rem;
  }
  @include MEDIUM-DEVICE-WIDTH {
    flex-direction: row;
    // padding: 1rem 10rem;
  }
  @include LARGE-DEVICE-WIDTH {
    padding: 1rem 10rem;
  }

  h2 {
    font-family: "Cinzel Decorative", cursive;
    width: 100%;
    font-size: 1.15rem;
    text-align: center;
    font-weight: normal;
    color: #a9640e;
    padding: 0.6rem;
    @include SMALL-LANDSCAPE {
      text-align: left;
      font-size: 1rem;
    }
    @include MEDIUM-DEVICE-WIDTH {
      text-align: left;
    }
    @include LARGE-DEVICE-WIDTH {
      font-size: 1.3rem;
      padding: 0.5rem;
    }
  }
  p {
    color: #362d11;
    font-size: 1rem;
    margin: 0.04rem;
    padding: 0.28rem !important;
    @include SMALL-LANDSCAPE {
      text-align: center;
    }
    @include MEDIUM-DEVICE-WIDTH {
      text-align: center;
    }
  }
}

// ........
//social icons links
.social-icons {
  position: relative;
  width: 100%;
  z-index: 0;
  background:#f2f3eb;
  padding: 1rem 0;
  @include SMALL-LANDSCAPE {
    position: fixed;
    left: 0;
    flex-direction: column;
    width: auto;
    bottom: 13%;
  }
  @include MEDIUM-DEVICE-WIDTH {
    position: fixed;
    left: 0;
    flex-direction: column;
    width: auto;
    bottom: 13%;
  }
  @include LARGE-DEVICE-WIDTH {
    left: 1rem;
    bottom: 10%;
    background: none;
  }
  .fa-2x {
    font-size: 1.25em;
    @include SMALL-LANDSCAPE {
      font-size: 1.15rem;
    }
  }
}

// ........
.main-title {
  font-size: 2rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-family: "Bebas Neue", "Julius Sans", cursive;
  width: 100%;
  top: 30%;
  position: relative;
  text-align: left;
}

.fa-2x {
  font-size: 1.23rem;
  padding: 0.2rem 0;
  @include SMALL-LANDSCAPE {
    font-size: 1em;
  }
  @include LARGE-DEVICE-WIDTH {
    font-size: 1.2rem;
  }
}
